<li><a href=""><i class="material-icons">account_circle</i> Visão Geral</a></li>
<li><a href=""><i class="material-icons">edit</i> Editar Perfil</a></li>
<li><a href=""><i class="material-icons">vpn_key</i> Mudar Senha</a></li>
<li role="separator" class="divider"></li>
<li><a href=""><i class="material-icons">local_offer</i> Cupons</a></li>
<li role="separator" class="divider"></li>
<li><a href=""><i class="material-icons">bookmark_border</i> Avaliações</a></li>
<li><a href=""><i class="material-icons">comment</i> Comentários</a></li>
<li><a href=""><i class="material-icons">favorite</i> Favoritos</a></li>
<li role="separator" class="divider"></li>
<li><a href=""><i class="material-icons">add_location</i> Criar Negócio</a></li>
<li><a href=""><i class="material-icons">store</i> Gerenciar Negócios</a></li>