<div ng-controller="account.bookmarks.controller">
    <header>
        <h2>Avaliações. <span class="badge">2</span></h2>
    </header>

    <div class="bookmarks-content">
        <ul class="lists">
            <li class="item">
                <figure>
                    <img src="https://static.festisite.com/static/partylogo/img/logos/burger-king.png" alt="">
                </figure>

                <div class="info">
                    <p>"Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis."</p>
                    <span>Avaliado <b>16/01/2016</b> em <a href="#">Nome da Empresa</a></span>
                </div>

                <div class="rating">
                    <i class="material-icons md-48 positive">sentiment_very_satisfied</i>
                </div>
            </li>

            <li class="item">
                <figure>
                    <img src="https://static.festisite.com/static/partylogo/img/logos/burger-king.png" alt="">
                </figure>

                <div class="info">
                    <p>"Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis."</p>
                    <span>Avaliado <b>16/01/2016</b> em <a href="#">Nome da Empresa</a></span>
                </div>

                <div class="rating">
                    <i class="material-icons md-48 negative">sentiment_dissatisfied</i>
                </div>
            </li>
        </ul>
    </div>
</div>