<ul>
    <li ng-class="{ active : isActive('/account') }"><a href="/account"><i class="material-icons">account_circle</i> Visão Geral</a></li>
    <li ng-class="{ active : isActive('/account/profile') }"><a href="/account/profile"><i class="material-icons">edit</i> Editar Perfil</a></li>
    <li ng-class="{ active : isActive('/account/change-password') }"><a href="/account/change-password"><i class="material-icons">vpn_key</i> Mudar Senha</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/account/coupons') }"><a href="/account/coupons"><i class="material-icons">local_offer</i> Cupons</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/account/bookmarks') }"><a href="/account/bookmarks"><i class="material-icons">bookmark_border</i> Avaliações</a></li>
    <li ng-class="{ active : isActive('/account/comments') }"><a href="/account/comments"><i class="material-icons">comment</i> Comentários</a></li>
    <li ng-class="{ active : isActive('/account/favorites') }"><a href="/account/favorites"><i class="material-icons">favorite</i> Favoritos</a></li>
</ul>