<div ng-controller="account.password.controller">
    <header>
        <h2>Mudar senha.</h2>
    </header>

    <form class="default">
        <div class="form-group">
            <label for="password_current">Senha atual</label>
            <input type="password" class="form-control" id="password_current" name="password[current]" ng-model="password.current">
        </div>

        <div class="form-group">
            <label for="password_new">Nova senha</label>
            <input type="password" class="form-control" id="password_new" name="password[new]" ng-model="password.new">
        </div>

        <div class="form-group">
            <label for="password_check">Repita a nova senha</label>
            <input type="password" class="form-control" id="password_check" name="password[check]" ng-model="password.check">
        </div>

        <div class="form-group actions">
            <button type="reset" class="btn btn-reset">Cancelar</button>
            <button type="submit" class="btn btn-submit">Salvar Nova Senha</button>
        </div>
    </form>
</div>