<div>

    <header>
        <h2>Sobre.</h2>
    </header>

    <div class="about-content">

        <form class="default">
            <div class="form-group">
                <label for="business_name">Conte-nos um pouco sobre o seu negócio:</label>
                <textarea class="form-control" id="business_name" name="business[about]" ng-model="business.field.about"></textarea>
            </div>

            <header class="subtitle">
                <h2>Mídias Sociais.</h2>
            </header>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="symbol">circlefacebook</i></div>
                    <input type="text" class="form-control" name="business[social][facebook]" id="business_social_facebook" ng-model="business.field.social.facebook">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="symbol">circletwitterbird</i></div>
                    <input type="text" class="form-control" name="business[social][twitter]" id="business_social_twitter" ng-model="business.field.social.twitter">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="symbol">circlegoogleplus</i></div>
                    <input type="text" class="form-control" name="business[social][google]" id="business_social_google" ng-model="business.field.social.google">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="symbol">circleyoutube</i></div>
                    <input type="text" class="form-control" name="business[social][youtube]" id="business_social_youtube" ng-model="business.field.social.youtube">
                </div>
            </div>

            <div class="form-group actions">
                <button type="button" class="btn btn-reset" ng-click="location.go('/', null)">Cancelar</button>
                <button type="submit" class="btn btn-submit" ng-click="business.submit()">Salvar</button>
            </div>
        </form>

    </div>

</div>