<div>

    <header>
        <h2>Avaliações & Comentários. <span class="badge">3</span></h2>
    </header>

    <div class="comments-content">

        <div class="comments">
            <ul class="lists">
                <li class="item" ng-repeat="comment in comments">
                    <figure>
                        <div class="img img-circle" ng-style="{ 'background-image' : 'url({{comment.author.image}})' }"></div>
                    </figure>

                    <div class="info">
                        <p>"{{comment.text}}"</p>
                        <span>Comentado em <b>{{comment.date}}</b> por <b>{{comment.author.name}}</b></span>
                    </div>

                    <div class="rating">
                        <i class="material-icons md-48 positive">sentiment_very_satisfied</i>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>

            <li>
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
    <!-- /pagination -->

</div>