<div>

    <header>
        <h2>Avaliações & Comentários. <span class="badge">3</span></h2>
    </header>

    <div class="comments-content">

        <div class="comments">
            <ul class="lists">
                <li class="item" data-id="{{comment.id}}" ng-repeat="comment in comments.data">
                    <div>
                        <figure>
                            <div class="img img-circle" ng-style="{ 'background-image' : 'url({{comment.author.image}})' }"></div>
                        </figure>

                        <div class="info">
                            <p>"{{comment.text}}"</p>
                            <span>Comentado em <b>{{comment.date}}</b> por <b>{{comment.author.name}}</b></span>
                        </div>

                        <div class="rating">
                            <i class="material-icons md-48 positive" ng-show="comment.rate=='positive'">sentiment_very_satisfied</i>
                            <i class="material-icons md-48 negative" ng-show="comment.rate=='negative'">sentiment_dissatisfied</i>
                        </div>
                    </div>
        
                    <div class="report">
                        <span ng-show="comment.report > 0">Remover comentário abusivo? <a href="javascript:void(0)">Sim</a> | <a href="javascript:void(0)">Não</a></span>
                        
                        <span class="box answer" ng-click="comments.open(comment.id)">Responder <i class="material-icons">redo</i></span>
                        
                        <span class="box abuse">Notificações: {{comment.report}}</span>
                        <span class="box abuse">Reputação: {{comment.points}}</span>
                    </div>
                    
                    <form class="default">
                        <div class="form-group">
                            <textarea class="form-control" id="comment_answer" name="comment[about]"></textarea>
                        </div>

                        <div class="form-group actions">
                            <button type="button" class="btn btn-reset" ng-click="comments.close(comment.id)">Cancelar</button>
                            <button type="submit" class="btn btn-submit" ng-click="comments.send(comment.id)">Enviar</button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

    </div>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
            </li>

            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>

            <li>
                <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
            </li>
        </ul>
    </nav>
    <!-- /pagination -->

</div>