<ul>
    <li ng-class="{ active : isActive('/business/dashboard/1') }"><a href="business/dashboard/1"><i class="material-icons">business</i> Visão Geral</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/profile') }"><a href="business/dashboard/1/profile"><i class="material-icons">edit</i> Editar Perfil</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/about') }"><a href="business/dashboard/1/about"><i class="material-icons">info</i> Sobre</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/products') }"><a href="business/dashboard/1/products"><i class="material-icons">shopping_cart</i> Produtos & Serviços</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/comments') }"><a href="business/dashboard/1/comments"><i class="material-icons">chat</i> Avaliações & Comentários</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/coupons') }"><a href="business/dashboard/1/coupons"><i class="material-icons">local_offer</i> Coupons de Desconto</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/opening-hours') }"><a href="business/dashboard/1/opening-hours"><i class="material-icons">alarm</i> Horários de Funcionamento</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/payments') }"><a href="business/dashboard/1/payments"><i class="material-icons">monetization_on</i> Formas de Pagamento</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/delivery') }"><a href="business/dashboard/1/delivery"><i class="material-icons">motorcycle</i> Entrega em Domicílio</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/photos') }"><a href="business/dashboard/1/photos"><i class="material-icons">panorama</i> Fotos</a></li>
    <li ng-class="{ active : isActive('/business/dashboard/1/videos') }"><a href="business/dashboard/1/videos"><i class="material-icons">videocam</i> Vídeos</a></li>
 </ul>