<ul>
    <li ng-class="{ active : isActive('/dashboard/1') }"><a href="/dashboard/1"><i class="material-icons">business</i> Visão Geral</a></li>
    <li ng-class="{ active : isActive('/dashboard/1/profile') }"><a href="/dashboard/1/profile"><i class="material-icons">edit</i> Editar Perfil</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/dashboard/1/coupons') }"><a href="/dashboard/1/coupons"><i class="material-icons">local_offer</i> Cupons</a></li>
    <li role="separator" class="divider"></li>
    <li ng-class="{ active : isActive('/dashboard/1/comments') }"><a href="/dashboard/1/comments"><i class="material-icons">comment</i> Comentários</a></li>
</ul>