<div>

    <header>
        <hgroup>
            <h2>Formas de pagamento.</h2>
            <h3>Selecione as formas de pagamento disponíveis no seu estabelecimento:</h3>
        </hgroup>
    </header>

    <div class="payments-content">
        <div class="item col-md-3">
            <i class="pf pf-visa"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item active col-md-3">
            <i class="pf pf-mastercard"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-elo"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-diners"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-american-express"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-bitcoin"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-moip"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-mercado-pago"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-pagseguro"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>

        <div class="item col-md-3">
            <i class="pf pf-paypal"></i>

            <div class="checked">
                <i class="material-icons">check</i>
            </div>
        </div>
    </div>

</div>