<div>

    <header>
        <h2>Videos.</h2>
        
        <div class="action">
            <a class="button gold" href="#" ng-click="videos.open('youtube')">Adicionar Videos</a>
        </div>
    </header>

    <div class="photos-content">
        
        <div class="list">            
            <header class="subtitle minimal">
                <h2>Gerencie os videos do seu estabelecimento:</h2>
            </header>
            
            <div class="item col-md-4">
                <figure ng-style="{ 'background-image' : 'url(https://marketplace.canva.com/MABzgDu4ChI/2/0/thumbnail_large/canva-travel-adventures-youtube-thumbnail-MABzgDu4ChI.jpg)' }">
                    <img class="img-responsive" src="https://marketplace.canva.com/MABzgDu4ChI/2/0/thumbnail_large/canva-travel-adventures-youtube-thumbnail-MABzgDu4ChI.jpg" alt="">
                    <div class="shadow"></div>
                    <i class="material-icons">play_circle_filled</i>
                </figure>
                
                <div class="checked">
                    <i class="material-icons">remove</i>
                </div>
            </div>

            <div class="item col-md-4">
                <figure ng-style="{ 'background-image' : 'url(https://marketplace.canva.com/MABzIIn4TE4/3/0/thumbnail_large/canva-dancing-silhouettes-spring-break-youtube-thumbnail-MABzIIn4TE4.jpg)' }">
                    <img src="https://marketplace.canva.com/MABzIIn4TE4/3/0/thumbnail_large/canva-dancing-silhouettes-spring-break-youtube-thumbnail-MABzIIn4TE4.jpg" alt="">
                    <div class="shadow"></div>
                    <i class="material-icons">play_circle_filled</i>
                </figure>
                
                <div class="checked">
                    <i class="material-icons">remove</i>
                </div>
            </div>

            <div class="item col-md-4">
                <figure ng-style="{ 'background-image' : 'https://marketplace.canva.com/MABzIT_3Zao/3/0/thumbnail_large/canva-hawaii-sunset-youtube-thumbnail-MABzIT_3Zao.jpg)' }">
                    <img src="https://marketplace.canva.com/MABzIT_3Zao/3/0/thumbnail_large/canva-hawaii-sunset-youtube-thumbnail-MABzIT_3Zao.jpg" alt="">
                    <div class="shadow"></div>
                    <i class="material-icons">play_circle_filled</i>
                </figure>
                
                <div class="checked">
                    <i class="material-icons">remove</i>
                </div>
            </div>
        </div>
    </div>

</div>