<div class="register">
    <div class="social-network">
        <header>
            <h2>Acessar com</h2>
        </header>

        <ul>
            <li><a href="javascript:void(0)" ng-click=""><span><i class="symbol">circlefacebook</i></span> Facebook</a></li>
        </ul>
    </div>

    <div class="division"><span>ou</span></div>

    <form>
        <header>
            <h2>Criar uma conta</h2>
        </header>

        <ul>
            <li>
                <input type="text" class="form-control" placeholder="Nome">
            </li>

            <li>
                <input type="text" class="form-control" placeholder="E-mail">
            </li>

            <li>
                <input type="password" class="form-control" placeholder="Senha">
                <span>Clicando em "Cadastrar", você aceita os <a href="javascript:void(0)" ng-click="">Termos de Uso.</a></span>
            </li>

            <li>
                <button type="submit" class="btn">Cadastrar</button>
                <span>Já possui uma conta? <a href="javascript:void(0)" ng-click="login.open()">Entrar.</a></span>
            </li>
        </ul>
    </form>
</div>