<footer class="main">
    <div class="container">

        <div class="row">
            <h2 class="text-center">O blyp ajuda você a encontrar o que procura e a se relacionar melhor com profissionais e empresas.</h2>
        </div>

        <div class="social row">
            <ul>
                <li class="col-md-1 col-sm-1 col-xs-2 col-md-offset-4 col-sm-offset-4 col-xs-offset-2"><a href="https://www.facebook.com/oficialblyp" target="_blank"><i class="symbol md-57 blue">circlefacebook</i></a></li>
                <li class="col-md-1 col-sm-1 col-xs-2"><a href="https://www.facebook.com/oficialblyp" target="_blank"><i class="symbol md-57 cyan">circletwitterbird</i></a></li>
                <li class="col-md-1 col-sm-1 col-xs-2"><a href="https://www.facebook.com/oficialblyp" target="_blank"><i class="symbol md-57 red">circlegoogleplus</i></a></li>
                <li class="col-md-1 col-sm-1 col-xs-2"><a href="https://www.facebook.com/oficialblyp" target="_blank"><i class="symbol md-57 red">circleyoutube</i></a></li>
            </ul>
        </div>

        <div class="more row">
            <div class="col-md-3 col-sm-6">
                <h4>Sobre</h4>

                <nav>
                    <ul>
                        <li><a href="#">Quem Somos</a></li>
                        <li><a href="#">O Que Fazemos</a></li>
                        <li><a href="#">Fale como a gente</a></li>
                        <li><a href="#">Termos de Uso</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>Diretórios</h4>

                <nav>
                    <ul>
                        <li><a href="#">Busca de profissionais</a></li>
                        <li><a href="#">Busca de empresas</a></li>
                        <li><a href="#">Promoções</a></li>
                        <li><a href="#">blyp app</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-3 col-sm-6">
                <h4>Serviços</h4>

                <nav>
                    <ul>
                        <li><a href="#">Cadastro profissional</a></li>
                        <li><a href="#">Cadastro empresarial</a></li>
                        <li><a href="#">Gestão de promoções</a></li>
                        <li><a href="#">Gerador de blyps</a></li>
                        <li><a href="#">Desenvolvimento Web</a></li>
                        <li><a href="#">Soluções em Marketing</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="online">
                    <span class="box-title"><i class="material-icons md-24">chat</i> <b>Atendimento Online</b></span>

                    <ul>
                        <li>Seg - Sex: 8h às 20h</li>
                        <li>Sábados: 10h às 21h</li>
                    </ul>
                </div>

                <div class="offline">
                    <span class="box-title"><i class="material-icons md-24">phone</i> <b>Telefones</b></span>

                    <ul>
                        <li>Seg - Sex: 8h às 20h</li>
                        <li>Sábados: 10h às 21h</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copy row">
            <span class="copyright text-center"><i class="logo-footer center-block"></i> © 2016 blyp. Todos os direitos reservados.</span>
        </div>

    </div>
</footer>