<div id="business" class="create new" page="business">

    <div class="container container-main wrapping">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h1>Criar meu negócio.</h1>
                    <h2>No Blyp, você pode criar seu negócio e aumentar a sua visualização na internet, a qualquer hora. Sem restrições. Sem custo. Escolha o tipo do seu negócio para começar:</h2>
                </header>
            </div>
            <!-- /header -->
        </div>

        <div class="row business-type">
            <div class="item col-md-4" ng-click="create.setBusiness('local')">
                <h3><i class="material-icons">store_mall_directory</i> Negócio Local</h3>
                <span>Ex: Bares, Hotéis, Serviços, Lojas.</span>
            </div>

            <div class="item col-md-4" ng-click="create.setBusiness('business')">
                <h3><i class="material-icons">business</i> Organização ou Instituição</h3>
                <span>Ex: Franquias, Partidos Políticos, Escolas e Faculdades.</span>
            </div>

            <div class="item col-md-4" ng-click="create.setBusiness('movable')">
                <h3><i class="material-icons">local_shipping</i> Negócio Móvel</h3>
                <span>Ex: Food Trucks, Petshop Móvel, Personal Car.</span>
            </div>
        </div>
    </div>
    <!-- /main -->

</div>
<!-- /page create new -->
