<div id="article" page="article">

    <div class="container wrapping">
        <div class="row">
            <div id="results" class="results col-md-8">
                <header>
                    <h1>Artigos.</h1>
                </header>

                <div class="item" ng-repeat="i in [1,2,3,4,5]">
                    <header class="author">
                        <figure>
                            <img class="img-circle" src="https://graph.facebook.com/1636057229/picture?width=64&amp;height=64" alt="leonardomoreira">
                        </figure>

                        <div class="info">
                            <h2>Leonardo Moreira</h2>
                            <span>10 de Março de 2016</span>
                        </div>
                    </header>

                    <article>
                        <header>
                            <figure>
                                <a href="#"><img src="https://cdn-images-1.medium.com/fit/t/800/240/1*7WrDvHvEaMnsSo7s0-W9pw.jpeg" alt="" /></a>
                            </figure>
                        </header>

                        <h2><a href="#">Mussum ipsum cacilds, vidis litro abertis.</a></h2>
                        <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                    </article>

                    <footer>
                        <a class="button gold" href="/articles/mussum-ipsum-cacilds-vidis-vitro-abertis">Ler Mais</a>

                        <ul class="social">
                            <li><i class="material-icons">favorite</i></li>
                            <li ng-click="share.open()"><i class="material-icons">share</i></li>
                        </ul>
                    </footer>
                </div>
                <!-- /lists -->

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>

                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>

                        <li>
                            <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination -->

            </div>
            <!-- /lists -->

            <div id="sidebar" class="sidebar col-md-4">
                <div class="recent-articles">
                    <header>
                        <h2><i class="material-icons">comments</i> Artigos Recentes</h2>
                    </header>

                    <ul>
                        <li ng-repeat="i in [1,2,3,4,5]">
                            <header>
                                <h3><a href="/articles/mussum-ipsum-cacilds-vidis-vitro-abertis">Artigo {{i}}</a></h3>
                            </header>

                            <p class="address">Nome do Autor</p>
                        </li>
                    </ul>
                </div>

                <div class="recent-authors">
                    <header>
                        <h2><i class="material-icons">face</i> Autores</h2>
                    </header>

                    <ul>
                        <li ng-repeat="i in [1,2,3,4,5]">
                            <header class="author">
                                <figure>
                                    <img class="img-circle" src="https://graph.facebook.com/1636057229/picture?width=64&amp;height=64" alt="leonardomoreira">
                                </figure>

                                <div class="info">
                                    <h2>Leonardo Moreira</h2>
                                    <span>Último artigo: 10 de Março de 2016</span>
                                </div>
                            </header>
                        </li>
                    </ul>
                </div>

                <div class="top-tags">
                    <header>
                        <h2><i class="material-icons">more</i> Tags</h2>
                    </header>

                    <div class="tags">
                        <a href="/articles/tags/{{i}}" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">Tag {{i}}</a>
                    </div>
                </div>
            </div>
            <!-- /sidebar -->

        </div>
    </div>

    <script>
        var slideout = new Slideout({
            'panel': document.getElementById('results'),
            'menu': document.getElementById('sidebar'),
            'padding': window.innerWidth - 40,
            'tolerance': 100,
            'side': 'right'
        });
    </script>
</div>
<!-- /articles list -->
