<div id="business" class="dashboard" page="dashboard">

    <div class="container container-submenu visible-sm visible-xs">
        <div class="row">
            <div class="col-md-12">

                <div class="btn-group-inverse">
                    <button type="button" class="btn btn-submenu dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">{{active.icon}}</i> {{active.title}} <i class="material-icons expand-more">expand_more</i>
                    </button>

                    <dashboard-nav class="dropdown-menu col-md-12" role="menu"> </dashboard-nav>
                </div>

            </div>
        </div>
    </div>

    <div class="container container-main wrapping">
        <div class="row">
            <div class="menu col-md-4 hidden-sm hidden-xs">
                <header>
                    <h1>Dashboard.</h1>
                </header>

                <dashboard-nav class="nav nav-pills nav-stacked"> </dashboard-nav>
            </div>
            <!-- /nav -->

            <div class="content col-md-8" ng-include src="'views/business/partials/_' + alias + '.html'"> </div>
            <!-- /content -->

        </div>
    </div>
    <!-- /main -->

</div>
<!-- /account -->
