<div id="search" page="search">

    <div class="container wrapping">
        <div class="row">
            <div id="results" class="results col-md-8">

                <div class="result">
                    <p>15 resultado(s) <em>para</em> <strong>"tag, tag"</strong></p>
                    <span ng-click="feedback.open()">Avalie este resultado</span>
                </div>
                <!-- /result -->

                <span class="filters-toggle" ng-click="filters.toggle()"><i class="material-icons">filter_list</i></span>

                <div class="filters">
                    <form>
                        <select class="form-control">
                            <option>Ordenar por</option>
                        </select>

                        <select class="form-control">
                            <option>Categorias</option>
                        </select>

                        <select class="form-control">
                            <option>Bairros</option>
                        </select>
                    </form>
                </div>
                <!-- /filters -->

                <ul class="lists">
                    <li class="item sponsored" ng-repeat="i in [1,2,3,4,5]">
                        <figure class="text-center">
                            <img src="https://static.festisite.com/static/partylogo/img/logos/burger-king.png" alt="">
                            <figcaption>AD</figcaption>
                        </figure>

                        <div class="info">
                            <header>
                                <h3><a href="#">Nome da Empresa</a></h3>
                                <h4><a href="#">Categoria da Empresa</a></h4>
                            </header>

                            <div class="approval-rate">
                                <span>78% de aprovação dos clientes</span>
                                <div class="progress-bar">
                                    <div class="progress-value" ng-style="{ 'width' : '78%' }"></div>
                                </div>
                            </div>

                            <p class="address">Endereço da Empresa</p>
                            <p class="city">Curitiba/PR</p>
                            <p class="phone">(41) 3000-4000</p>
                        </div>

                        <div class="actions">

                            <div class="row">
                                <div class="column">
                                    <span class="box status opened"><i class="material-icons">check_circle</i> Aberto Agora</span>
                                </div>

                                <div class="column">
                                    <span class="box icon print"><i class="material-icons">print</i></span>
                                    <span class="box icon favorite"><i class="material-icons">favorite</i></span>
                                    <span class="box icon share" ng-click="share.open()"><i class="material-icons">share</i></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                   <span class="box price">
                                        <i class="material-icons">monetization_on</i>

                                        <ul>
                                            <li class="active"><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="column">
                                    <span class="box route" ng-click="directions.open()"><i class="material-icons">explore</i> Gerar Trajeto</span>
                                </div>
                            </div>

                            <div class="row">
                                <a class="button gold more" href=""><i class="material-icons">info</i> Mais Detalhes</a>
                            </div>
                        </div>
                    </li>

                    <li class="item" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
                        <figure class="text-center">
                            <img src="https://static.festisite.com/static/partylogo/img/logos/burger-king.png" alt="">
                            <figcaption>AD</figcaption>
                        </figure>

                        <div class="info">
                            <header>
                                <h3><a href="#">Nome da Empresa</a></h3>
                                <h4><a href="#">Categoria da Empresa</a></h4>
                            </header>

                            <div class="approval-rate">
                                <span>78% de aprovação dos clientes</span>
                                <div class="progress-bar">
                                    <div class="progress-value" ng-style="{ 'width' : '78%' }"></div>
                                </div>
                            </div>

                            <p class="address">Endereço da Empresa</p>
                            <p class="city">Curitiba/PR</p>
                            <p class="phone">(41) 3000-4000</p>
                        </div>

                        <div class="actions">

                            <div class="row">
                                <div class="column">
                                    <span class="box status opened"><i class="material-icons">check_circle</i> Aberto Agora</span>
                                </div>

                                <div class="column">
                                    <span class="box icon print"><i class="material-icons">print</i></span>
                                    <span class="box icon favorite"><i class="material-icons">favorite</i></span>
                                    <span class="box icon share" ng-click="share.open()"><i class="material-icons">share</i></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="column">
                                   <span class="box price">
                                        <i class="material-icons">monetization_on</i>

                                        <ul>
                                            <li class="active"><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                            <li><i class="material-icons">attach_money</i></li>
                                        </ul>
                                    </span>
                                </div>

                                <div class="column">
                                    <span class="box route" ng-click="directions.open()"><i class="material-icons">explore</i> Gerar Trajeto</span>
                                </div>
                            </div>

                            <div class="row">
                                <a class="button gold more" href=""><i class="material-icons">info</i> Mais Detalhes</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- /lists -->

                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>

                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>

                        <li>
                            <a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
                <!-- /pagination -->

            </div>
            <!-- /lists -->

            <div id="sidebar" class="sidebar col-md-4">
                <div class="maps">
                    <header>
                        <h2><i class="material-icons">map</i> Mapa e Direção</h2>
                    </header>

                    <a href="#" ng-style="{ 'background-image' : 'url({{maps.source()}})' }">
                        <img src="{{maps.source()}}" alt="">
                    </a>
                </div>

                <div class="most-viewed">
                    <header>
                        <h2><i class="material-icons">visibility</i> Buscas Relacionadas</h2>
                    </header>

                    <ul>
                        <li ng-repeat="i in [1,2,3,4,5]">
                            <header>
                                <h3><a href="#">Nome da Empresa</a></h3>
                            </header>

                            <p class="address">Endereço da Empresa</p>
                        </li>
                    </ul>
                </div>

                <div class="newsletter">
                    <header>
                        <h2><i class="material-icons">info</i> Ofertas perto de você!</h2>
                    </header>

                    <p>Informe o seu e-mail e receba promoções imperdíveis.</p>

                    <form class="search" role="search">
                        <ul>
                            <li><input type="text" class="form-control email" placeholder="Seu e-mail"> <button type="submit" class="btn" >Enviar</button></li>
                        </ul>
                    </form>
                </div>

                <div class="similar-nearby">
                    <header>
                        <h2><i class="material-icons">store</i> Lugares Similares</h2>
                    </header>

                    <ul>
                        <li ng-repeat="i in [1,2,3,4,5]">
                            <header>
                                <h3><a href="#">Nome da Empresa</a></h3>
                            </header>

                            <p class="address">Endereço da Empresa</p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /sidebar -->

        </div>
    </div>

    <script>
        var slideout = new Slideout({
            'panel': document.getElementById('results'),
            'menu': document.getElementById('sidebar'),
            'padding': window.innerWidth - 40,
            'tolerance': 100,
            'side': 'right'
        });
    </script>
</div>
<!-- /search -->
