<div id="search" class="not-found" page="search">

    <div class="container wrapping">
        <div class="row">
            <div class="results col-md-12">
                <div class="result">
                    <p><i class="material-icons md-36">sentiment_very_dissatisfied</i> Nenhum resultado <em>para</em> <strong>"tag, tag"</strong></p>
                    <span>Avalie este resultado</span>
                </div>

                <form class="search" role="search">
                    <header>
                        <h2>Não desista! Faça uma nova pesquisa abaixo :)</h2>
                    </header>

                    <ul>
                        <li><input type="text" class="form-control type" placeholder="shopping, pub" ng-model="search.fields.q"></li>
                        <li><input type="text" class="form-control place" placeholder="Curitiba, PR" disabled> <button type="submit" class="btn" ng-click="search.submit()"><i class="material-icons md-24 action">search</i></button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /search.404 -->
