<div class="forgot">
    <form>
        <header>
            <h2>Esqueceu sua senha?</h2>
            <p>Não tem problema! Insira o e-mail que você usou no cadastro. Nós mandaremos um e-mail com seu nome de usuário e um link para você redefinir sua senha.</p>
        </header>

        <ul>
            <li>
                <input type="text" class="form-control" placeholder="Endereço de e-mail">
            </li>

            <li>
                <button type="submit" class="btn">Enviar</button>
                <span>Não possui uma conta? <a href="javascript:void(0)" ng-click="register.open()">Cadastre-se.</a></span>
            </li>
        </ul>
    </form>
</div>