input, select, textarea, button {
  outline: none !important;
  @include box-shadow(0 0 0 0 rgba(0,0,0,0) !important);

  &:hover, &:focus, &:active {
    outline: none !important;
    @include box-shadow(0 0 0 0 rgba(0,0,0,0) !important);
  }
}

button, input[type="submit"], input[type="reset"] {

  &.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    @include border-radius(4px);

    &.gold {
      background: transparent;
      border: 2px solid $gold;
      color: $dark-med;

      &:hover {
        color: $gold;
      }
    }

    &.black {
      background: $dark-med;
      color: $white;
    }
  }
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: none;
  @include border-radius(4px);

  &.default {
    background: $white;
  }
}

form.default {

  .form-group {
    margin-bottom: 20px;

    label {
      font-weight: 700;
      margin-bottom: 10px;
    }

    input, select, textarea {
      border-color: $light-med;

      &:hover, &:focus, &:active {
        border-color: $light-dark;
      }
    }

    select {
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24"><style type="text/css">.st0{fill:#181818}.st1{fill:none}</style><path class="st0" d="M16.6,8.6L12,13.2L7.4,8.6L6,10l6,6l6-6L16.6,8.6z"/><path class="st1" d="M0,0h24v24H0V0z"/></svg>');
      background-position: right 12px center;
      background-repeat: no-repeat;
      background-size: 21px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:focus, &:active {
        border-color: $light-med;
      }
    }

    .input-group-addon {
      border-color: $light-med;

      input, select, textarea {
        @include border-radius(4px);
      }
    }

    .help-block {
      font-size: $font-small;
      margin-top: 10px;
    }

    &.actions {
      text-align: right;
      margin-bottom: 10px;

      @media (max-width: $screen-md) {
        text-align: center;
      }
    }
  }

  .checkbox, .radio {
    margin-bottom: 20px;

    label {
      vertical-align: middle;
      line-height: 20px;
      padding-left: 1.75em;
    }

    input[type="radio"], input[type="checkbox"] {
      opacity: 0;
      position: absolute;
      margin-left: -20px;
    }

    input[type="checkbox"]:checked ~ .control-indicator, input[type="radio"]:checked ~ .control-indicator {
      background-size: 12px;
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: $gold;
      border-color: $gold;
      background-repeat: no-repeat;
      background-position: center center;
    }

    input[type="checkbox"]:checked ~ .control-indicator {
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><style type="text/css">.st0{fill:#181818}.st1{fill:none}</style><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>');
    }

    input[type="radio"]:checked ~ .control-indicator {
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><style type="text/css">.st0{fill:#181818}.st1{fill:none}</style><circle fill="#010101" cx="12" cy="12" r="8"/></svg>');
    }

    .control-indicator {
      background-color: #fff;
      border: 1px solid $light-med;
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      width: 1.25em;
      height: 1.25em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover, &:focus, &:active {
        border-color: $light-dark;
      }
    }
  }

  .checkbox {

    .control-indicator {
      @include border-radius(2px);
    }
  }

  .radio {

    .control-indicator {
      @include border-radius(50%);
    }
  }

  button {
    -webkit-transition: color .2s, background-color .2s;
    -o-transition: color .2s, background-color .2s;
    transition: color .2s, background-color .2s;

    &.btn {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 15px;
      margin-right: 15px;
      @include border-radius(4px);

      &.btn-submit {
        background: transparent;
        border: 2px solid $gold;
        color: $dark-med;

        &:hover {
          background: $gold;
        }
      }

      &.btn-reset {
        background: transparent;
        border: 2px solid transparent;
        color: $dark-med;

        &:hover {
          border-color: $dark-med;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .form-control[readonly] {
    background: $light-med;
    border-color: $light-med;
  }

  .form-control[disabled], fieldset[disabled] .form-control {
    background: $light-med;
  }

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
