input, select, textarea, button {
  outline: none !important;
  @include box-shadow(0 0 0 0 rgba(0,0,0,0) !important);

  &:hover, &:focus, &:active {
    outline: none !important;
    @include box-shadow(0 0 0 0 rgba(0,0,0,0) !important);
  }
}

button, input[type="submit"], input[type="reset"] {

  &.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 15px;
    @include border-radius(4px);

    &.gold {
      background: transparent;
      border: 2px solid $gold;
      color: $dark-med;

      &:hover {
        color: $gold;
      }
    }

    &.black {
      background: $dark-med;
      color: $white;
    }
  }
}

textarea {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  border: none;
  @include border-radius(4px);

  &.default {
    background: $white;
  }
}

form.default {

  .form-group {
    margin-bottom: 20px;

    label {
      font-weight: 700;
      margin-bottom: 10px;
    }

    input {
      border-color: $light-med;

      &:hover, &:focus, &:active {
        border-color: $light-med;
      }
    }

    .help-block {
      font-size: $font-small;
      margin-top: 10px;
    }

    &.actions {
      text-align: right;
      margin-bottom: 10px;

      @media (max-width: $screen-md) {
        text-align: center;
      }
    }
  }

  .checkbox, .radio {

    label {
      vertical-align: middle;
      line-height: 18px;
    }
  }

  button {
    -webkit-transition: color .2s, background-color .2s;
    -o-transition: color .2s, background-color .2s;
    transition: color .2s, background-color .2s;

    &.btn {
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 15px;
      margin-right: 15px;
      @include border-radius(4px);

      &.btn-submit {
        background: transparent;
        border: 2px solid $gold;
        color: $dark-med;

        &:hover {
          background: $gold;
        }
      }

      &.btn-reset {
        background: transparent;
        border: 2px solid transparent;
        color: $dark-med;

        &:hover {
          border-color: $dark-med;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
