// Import core
@import "theme/core";

// Header
header.main {
  height: 60px;
  background: $gold;
  color: $dark;
  border-bottom: 3px solid $gold !important;
  z-index: 9999;

  .navbar {
    padding-top: 3px;

    .navbar-toggle {
      margin: 0;
      padding: 7px;
      border: none;
    }

    .navbar-brand {

      .logo-navbar {
        background: url('../images/logo-blyp-navbar.png') no-repeat center;
        display: block;
        width: 42px;
        height: 42px;
        margin-top: -12px;
      }
    }

    ul {
      line-height: 52px;

      li {
        text-transform: uppercase;

        a {
          display: inline-block;
          text-shadow: none;
          padding: 5px;
          line-height: 1;
          color: $dark-med;

          &:hover {
            color: $dark-med;
            background: none;
          }

          strong {
            font-weight: 700;
          }
        }

        &:hover {
          background: none;
        }

        &:after {
          content: " \00b7";
          margin: 10px;
          font-weight: 800;
        }

        @media (max-width: $screen-lg) {
          &:nth-child(1), &:nth-child(2), &:nth-child(2), &:nth-child(3) {
            display: none;
          }
        }
      }

      li:last-child {

        &:after {
          content: "";
          margin: 0;
        }

      }
    }

    .navbar-form {

      input[type="text"] {
        @include border-radius(4px, 4px);
        border: none;
        font-weight: 700;
        font-style: italic;
      }

      button {
        background: $dark-med;
        color: $gold;
        padding: 5px 10px 2px;
        line-height: 1;

        &:hover {
          color: $gold;
        }
      }

      span {
        margin: 0 10px;
        color: $dark-med;
        font-weight: 700;
        font-style: italic;
      }

    }
  }

  @media (max-width: $screen-sm) {

    .navbar-collapse {

      .navbar-header {
        margin-right: -16px;
        margin-left: -16px;
      }

      .navbar-nav {
        margin: 0 -15px;
      }

      &.collapse, &.collapsing, &.in {

        background: $gold;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        z-index: 9999;
        position: relative;

        ul {

          li {
            display: block;
            text-align: center;
            -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
            box-shadow: inset 0 1px 0 rgba(255,255,255,.1);

            a {
              display: block;
              padding: 15px;
            }

            &:after {
              content: "";
              margin: 0;
            }
          }
        }

        .navbar-form {
          box-shadow: none;
          -webkit-box-shadow: none;
          border: none;

          button {
            width: 100%;
          }

          span {
            position: relative;
            display: block;
            margin: 15px 10px;
            text-align: center;

            strong {
              background: $gold;
              padding: 10px;
            }

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              border-top: solid 1px $dark-med;
              z-index: -1;
            }
          }

        }
      }
    }
  }

  &.home {
    background: $dark;
    color: $light;

    .navbar {

      .navbar-brand {

        .logo-navbar {
          background: url('../images/logo-blyp-navbar-out.png') no-repeat center;

          @media (min-width: $screen-sm) {
            display: none;
          }
        }
      }

      ul {

        li {
          color: $white;

          a {
            color: $white;
          }
        }
      }

      .navbar-form {

        button {
          background: $gold;
          color: $dark;
        }

        span {
          color: $white;

          strong {
            background: $dark;
          }

          &:after {
            border-color: $white;
          }
        }

        @media (min-width: $screen-sm) {
          display: none;
        }
      }

      @media (max-width: $screen-sm) {

        .navbar-collapse {

          .navbar-nav {
            margin: 0 -15px;
          }

          &.collapse, &.collapsing, &.in {
              background: $dark;
          }
        }
      }
    }
  }

}

// Home
div#home {

  //Home - Search
  div.featured-seach {
    color: $white;
    height: 675px;
    background-position: left;
    background-size: cover;
    background: $light url('../images/temp/background-001.jpg') no-repeat;

    header {
      margin-top: 50px;

      h1 {
        width: 232px;
        height: 165px;
        text-indent: -9999px;
        background: url('../images/logo-blyp-home.png') no-repeat center;
      }
    }

    div.welcome {
      margin: 110px 0 50px;

      h2 {
        font-size: 64px;
        font-weight: 300;
      }
    }

    form.search {
      float: left;
      width: 480px;

      p {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 300;

        b {
          font-weight: 400;
        }
      }

      ul {

        li {

          input[type="text"] {
            @include border-radius(4px, 4px);
            height: 50px;
            border: none;
            font-size: 21px;
            font-weight: 700;
            font-style: italic;

            &.place {
              float: left;
              width: 85%;
              background-color: $white;
            }
          }

          button {
            float: right;
            height: 50px;
            width: 12%;
            padding: 5px 10px 2px;
            line-height: 1;
            background: $gold;
            color: $dark-med;
            font-weight: 800;

            &:hover {
              color: $dark-med;
            }
          }

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    div.results {
      float: left;
      display: none;
      margin: 45px 20px 0;
      color: $light-dark;
      background: $white;
      @include border-radius(4px, 4px);

      header {
        padding: 10px 20px 10px 55px;
        margin: 0;
        background: $light-med;
        @include border-corner-radius("top", "left", 4px);
        @include border-corner-radius("top", "right", 4px);

        h2 {
          font-size: $font-large;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      ul {
        padding: 10px 20px 10px 10px;

        li {
          line-height: 26px;
          padding: 2px 0;
          border-bottom: 1px solid $light;

          i {
            cursor: default;
            color: $dark-med;
            margin: 0 13px 0 12px;
          }

          a {
            color: $light-dark;
            vertical-align: text-bottom;

            b {
              color: $dark-med;
              font-weight: 700;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }

      @media (max-width: $screen-md) {
        display: none;
      }
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  //Home - Featured Types
  div.featured-types {
    padding: 15px 0;
    font-size: $font-large;
    font-weight: 300;
    text-transform: uppercase;

    header {
      float: left;
      margin-right: 25px;

      h2 {
        color: $dark;
      }
    }

    ul {
      float: left;

      li {
        float: left;
        margin: 0 9px;

        a {
          display: block;
          color: $light-dark;

          i {
            margin: 7px 0;
            font-size: 48px;
            color: $dark-med;

            @media (min-width: $screen-md) {
              display: none;
            }
          }
        }
      }
    }

    @media (max-width: $screen-md) {
      padding: 60px 0;

      header {
        float: none;
        text-align: center;
        margin: 0 0 40px 0;

        h2 {
          color: $light-dark;
          font-size: 36px;
        }
      }

      ul {
        float: none;
        text-align: center;

        li {
          float: none;
          width: 62px;
          height: 62px;
          display: inline-block;
          background: $gold;
          @include border-radius(4px);

          a {
            width: 62px;
            height: 62px;

            b {
              display: none;
            }
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 40px 0 20px;

      header {
        margin-right: 0;

        h2 {
          font-size: 28px;
        }
      }

      ul {

        li {
          width: 48px;
          height: 48px;
          margin-bottom: 20px;

          a{
            width: 48px;
            height: 48px;

            i {
              font-size: 36px;
            }
          }
        }
      }
    }
  }

  //Home - Featured Ad
  div.featured-poster {
    background: $light;
    padding: 5px 0;

    .poster-item {
      float: left;
      display: table;
      width: 277px;
      height: 277px;

      .wrapper {
        border: 5px solid $light;
        background: $light-med;
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        background-position: center;
        background-size: cover;
      }

      &.poster-item--width2 {
        width: 544px;
      }

      &.poster-item--height2 {
        height: 544px;
      }

      &.poster-item--width3 {
        width: 554px;
      }

      &.poster-item--height3 {
        height: 554px;
      }

      @media (max-width: $screen-lg) {
        width: 50%;

        &.poster-item--width2, &.poster-item--width3 {
          width: 100%;
        }
      }

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      @media (max-width: $screen-md) {
        &.newsletter {
          height: 544px;
        }
      }
    }

    .poster-content {
      display: table;
      width: 75%;
      margin: 0 auto;
      text-align: center;

      @include border-radius(4px);

      &.place {
        padding: 20px;
        color: $white;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.7);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

        header {

          i {
            border: 3px solid white;
            border-radius: 50%;
            width: 72px;
            height: 72px;
            font-size: 42px;
            line-height: 64px;
          }
        }
      }

      &.newsletter {
        text-align: left;

        @media (max-width: $screen-md) {
          text-align: center;
        }

        header {
          line-height: 62px;

          i {
            float: left;
            margin-right: 20px;
            margin-bottom: 15px;

            @media (max-width: $screen-md) {
              float: none;
              margin-right: 0;
            }
          }

          h3 {

            @media (max-width: $screen-md) {
              margin-bottom: 40px;
            }
          }

          @media (max-width: $screen-md) {
            line-height: 1;
          }
        }

        p {
          clear: both;
          margin-bottom: 10px;

          @media (max-width: $screen-md) {
            margin-bottom: 20px;
          }
        }

        form {

          ul {

            li {
              margin-bottom: 10px;

              button {

              }

              input {
                width: 75%;
                height: 35px;
                border: none;

                &.cep {
                  float: left;
                }
              }

              button {
                float: right;
                width: 20%;
                background: $dark-med;
                color: $white;
                text-transform: uppercase;
              }

              @media (max-width: $screen-md) {

                input {
                  width: 100%;

                  &.cep {
                    float: none;
                  }
                }

                button {
                  float: none;
                  width: 100%;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }

      header {
        margin-bottom: 5px;

        i {
          margin-bottom: 15px;
          font-size: 62px;
        }

        h3 {
          font-size: $font-large;
          font-weight: 800;
        }
      }

      p {
        font-size: $font-large;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }

  //Home - Last Articles
  div.last-articles {
    padding: 90px 0;
    background: $white;

    header {

      h2 {
        margin-bottom: 90px;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        color: $light-dark;
      }
    }

    div.owl-carousel {

      .item {
        padding: 0 30px;

        figure {
          margin: 0 0 30px;

          img {
            @include border-radius(50%);
            border: 10px solid $light;
            width: 220px;
            height: 220px;
          }

          figcaption {
            margin-top: 20px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &:hover {

          img {
            border-color: $gold;
          }
        }

        .text {
          margin-bottom: 25px;
          header {

            h3 {
              font-size: $font-large;
              font-weight: 800;
            }

            h4 {
              font-size: $font-default;
              font-weight: 700;
              font-style: italic;
              margin-top: 5px;
              color: $dark;
            }
          }

          p {
            margin-top: 20px;
            line-height: 18px;
          }
        }

        a.button {
          margin: 0 auto;
          width: 45%;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 60px 0;

      header {

        h2 {
          margin-bottom: 60px;
          font-size: 28px;
        }
      }

      a.button {
        width: 100% !important;
      }
    }
  }

  //Home - Most Viewed
  div.most-viewed {
    padding: 110px 0;
    background: $light;

    header {

      h2 {
        margin-bottom: 110px;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        color: $light-dark;
      }
    }

    div.owl-carousel {
      height: 310px;

      .item {
        padding: 0 30px;

        header {

          h3 {
            font-size: $font-large;
            font-weight: 800;
            text-transform: uppercase;
          }
        }

        figure {
          margin: 20px 0;

          img {
            @include border-radius(50%);
            width: 120px;
            height: 120px;
          }

          figcaption {
            margin-top: 20px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .approval-rate {

          span {
            display: block;
            font-weight: 700;
            font-size: $font-small;
          }

          .progress-bar {
            position: relative;
            width: 100%;
            height: 10px;
            margin: 5px 0 20px;
            background: $white;
            @include box-shadow(none);
            @include border-radius(4px);

            .progress-value {
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 10px;
              background: $gold;
              @include border-radius(4px);
            }
          }
        }

        a.button {
          clear: both;
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 65px 0;

      header {

        h2 {
          margin-bottom: 65px;
          font-size: 28px;
        }
      }

      div.owl-carousel {

        a.button {
          width: 100% !important;
        }
      }
    }
  }

}

//Search
div#search {

  .results {

    .result {
      height: 21px;

      p {
        float: left;

        b {
          font-weight: 700;
        }
      }

      span {
        float: right;
        font-weight: 700;
        font-size: $font-small;
        font-family: 'Consolas', sans-serif;

        @media (max-width: $screen-xs) {
          display: none;
        }
      }
    }

    .filters-toggle {
      background: $light-med;
      width: 100%;
      display: block;
      text-align: center;
      margin: 20px 0;
      padding: 4px;
      cursor: pointer;
      @include border-radius(4px);

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    .filters {
      margin: 20px 0;

      select {
        background: $light-med;
        border: none;
        width: 33%;
        display: inline-block;
        font-weight: 700;
        @include box-shadow(0 0 0 0 rgba(0,0,0,0));

        @media (max-width: $screen-lg) {
          display: block;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      @media (max-width: $screen-lg) {
        display: none;
      }
    }

    .lists {
      width: 100%;

      .item {
        border-bottom: 1px dashed $light-med;
        padding: 20px 0;
        clear: both;

        figure {
          display: none;
          vertical-align: top;
          width: 110px;
          margin: 0 20px 0 0;

          img {
            width: 110px;
            height: 110px;
          }

          @media (max-width: $screen-sm) {
            width: 80px;

            img {
              width: 80px;
              height: 80px;
            }
          }
        }

        .info {
          display: inline-block;
          vertical-align: top;

          header {
            margin-bottom: 15px;

            h3 {
              font-weight: 700;
              font-size: $font-large;
              margin-bottom: 5px;

              a:hover {
                color: $gold;
              }
            }

            h4 {
              font-size: $font-small;

              a:hover {
                color: $gold;
              }
            }
          }

          .approval-rate {
            display: none;

            span {
              display: block;
              font-weight: 700;
              font-size: $font-small;
            }

            .progress-bar {
              position: relative;
              width: 100%;
              height: 10px;
              margin: 5px 0 20px;
              background: $light-med;
              @include box-shadow(none);
              @include border-radius(4px);

              .progress-value {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 10px;
                background: $gold;
                @include border-radius(4px);
              }
            }
          }

          p {
            font-size: $font-small;
            margin-bottom: 5px;
          }

          .phone {
            margin-top: 15px;
            font-weight: 700;
            font-size: $font-large;
          }
        }

        .actions {
          display: inline-block;
          vertical-align: top;
          float: right;
          width: 300px;

          .row {
            margin: 0;
            height: 55px;

            .column {
              display: inline-block;
              width: 150px;

              .box {
                background: $light-med;
                width: 100%;
                padding: 10px;
                line-height: 24px;
                display: inline-block;
                vertical-align: text-top;
                font-size: $font-small;
                font-weight: 700;
                @include border-radius(4px);

                i {
                  vertical-align: bottom;
                  margin-right: 5px;
                }

                &.icon {
                  width: auto;
                  cursor: pointer;

                  i {
                    margin: 0;
                  }
                }

                &.price {

                  ul {
                    float: right;

                    li {
                      float: left;

                      i {
                        color: $light-dark;
                        margin: 0;
                      }

                      &.active {

                        i {
                          color: $dark-med;
                        }
                      }
                    }
                  }
                }

                &.route {
                  cursor: pointer;
                }

                &.opened {
                  background: $green;
                  color: $white;
                  text-transform: uppercase;
                }

                &.closed {
                  background: $red;
                  color: $white;
                  text-transform: uppercase;
                }
              }

              &:first-child {
                float: left;
              }

              &:last-child {
                float: right;
                width: 140px;
                margin-left: 10px;
              }
            }

            &:nth-child(2){
              display: none;
            }

            &:nth-child(1){

              .column:nth-child(1){
                display: none;
              }
            }
          }

          a.button {
            margin-top: 5px;
            line-height: 24px;

            i {
              vertical-align: top;
            }
          }

          @media (max-width: $screen-sm) {
            display: none;
          }
        }

        &.sponsored {

          figure {
            display: inline-block;
          }

          .info {

            .approval-rate {
              display: block;
            }
          }

          .actions {

            .row {

              &:nth-child(1) {

                .column:nth-child(1){
                  display: inline-block;
                }
              }

              &:nth-child(2) {
                display: block;
              }
            }
          }

          a.button {
            margin-top: 0;
          }
        }
      }

      &:last-child {
        border: none;
      }
    }

    nav {
      text-align: center;
      margin-top: 40px;
    }
  }

  .sidebar {

    .maps {
      position: relative;
      margin: 40px 0;

      @media (max-width: $screen-md) {
        margin-top: 20px;
      }

      header {
        position: absolute;
        width: 60%;
        top: -20px;
        right: 0;
        padding: 10px;
        background: $gold;
        @include border-radius(4px);

        h2 {
          font-size: $font-default;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          text-align: center;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }

          @media (max-width: $screen-lg) {
            font-size: $font-small;
          }
        }
      }

      a {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        line-height: 0;
        @include border-radius(4px);

        img {
          @include opacity(0);
        }
      }
    }

    .newsletter {
      background: $gold;
      padding: 35px;
      margin: 40px 0;
      @include border-radius(4px);

      header {
        margin-bottom: 20px;

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }

          @media (max-width: $screen-lg) {
            font-size: $font-default;
          }
        }
      }

      p {
        margin-bottom: 10px;
      }

      form {

        ul {

          li {

            input {
              width: 70%;
              height: 35px;
              border: none;
              float: left;

              @media (max-width: $screen-lg) {
                float: none;
                display: block;
                width: 100%;
                margin-bottom: 10px;
              }
            }

            button {
              float: right;
              width: 25%;
              background: $dark-med;
              color: $white;
              text-transform: uppercase;

              @media (max-width: $screen-lg) {
                float: none;
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }

    .most-viewed, .similar-nearby {

      header {

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }
      }

      ul {
        margin: 20px 0 0 35px;

        li {
          padding: 10px 0;

          header {
            margin-bottom: 5px;

            h3 {
              font-size: $font-default;
              font-weight: 700;

              a:hover {
                color: $gold;
              }
            }
          }

          p {
            font-size: $font-small;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}

//Footer
footer.main {
  background: $black;
  color: white;
  z-index: 9999;

  a {
    color: white;

    &:hover, &:focus, &:active {
      color: white;
    }
  }

  h2 {
    margin: 130px 50px 90px;
    font-size: 48px;
    line-height: 56px;
  }

  h4 {
    color: $gold;
  }

  .social {

    a {
      height: 42px;
      width: 42px;
      background: $white;
      display: block;
      border-radius: 24px;
      line-height: 42px;
      margin: 0 auto;
    }

    .symbol {
      margin: -2px;
    }
  }

  .more {
    margin: 90px 0;
    font-weight: 300;

    h4 {
      margin-bottom: 15px;
      font-size: $font-large;
    }

    ul {

      li {
        line-height: 24px;
      }
    }

    .online, .offline {

      .box-title {
        @include border-radius(4px, 4px);
        display: block;
        padding: 15px 15px 10px;
        margin-bottom: 25px;
        background: $gold;
        color: $dark-med;
        font-weight: 400;

        b {
          vertical-align: top;
          line-height: 24px;
        }
      }
    }

    .online {

      ul {
        margin-bottom: 25px;
      }
    }
  }

  .copyright {
    display: block;
    margin: 25px 0;
    color: $dark;
    font-family: Consolas, monospace;

    .logo-footer {
      background: url('../images/logo-blyp-footer.png') no-repeat center;
      display: block;
      width: 58px;
      height: 60px;
      margin-bottom: 15px;
    }
  }

  @media (max-width: $screen-sm) {
    h2 {
      margin: 65px 40px;
      font-size: 28px;
      line-height: 32px;
    }

    .copyright {
      margin: 15px 0;
      font-size: $font-small;
    }

    .more {
      margin: 65px 0 25px;
    }
  }

  @media (max-width: $screen-md) {
    .more {

      div {
        margin-bottom: 25px;
      }
    }
  }
}