$white : #FFFFFF;
$black : #000000;

$light-med : #E9E9E9;
$light : #F4F4F4;

$dark-med : #181818;
$dark : #404040;

$gold : #FEBD00;
$red : #FE1C1A;
$purple : #A229F8;
$green : #36C31F;
$blue : #0B97FE;