// Compass
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/opacity";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/background-size";
@import "compass/typography/vertical_rhythm";

// Import theme configs
@import "theme/fonts";
@import "theme/forms";
@import "theme/icons";
@import "theme/popeye";

// Screens size
$screen-xs : 480px;
$screen-sm : 768px;
$screen-md : 992px;
$screen-lg : 1200px;

// Theme Core
body {
  background: $white;
  color: $dark-med;
}

a {
  color: $dark-med;
  text-decoration: none;

  &:hover, &:focus, &:active {
    color: $dark-med;
    text-decoration: none;
  }

  &.button {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    padding: 10px 15px;
    @include border-radius(4px);

    &.gold {
      background: $gold;
      color: $dark-med;
    }

    &.black {
      background: $dark-med;
      color: $white;
    }
  }
}

// Extended Core
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin-right: -16px;
  margin-left: -16px;
}

.container {

  &.wrapping {
    padding: 40px 15px;
  }
}

nav {

  .pagination {

    li {

      a {
        background: $light-med;
        color: $dark-med;
        border: none;
        margin: 4px;
        font-size: $font-small;
        @include border-radius(4px);

        &:hover {
          background: $gold;
        }
      }

      &.active {

        a {
          background: $dark-med;
          color: white;

          &:hover {
            background: $dark;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-md) {

  .slideout-menu {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    background: $white;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
    @include box-shadow($light-med -2px -1px 2px inset);
  }

  .slideout-open .slideout-menu {
    display: block;
    padding: 40px 15px 40px 60px;
    background: $light;
    overflow-x: hidden;
  }
}