<div class="share-options">
    <header>
        <h2>Gostou? Compartilhe este blyp.</h2>
    </header>

    <ul class="social">
        <li><a href="#"><i class="symbol">circlefacebook</i></a></li>
        <li><a href="#"><i class="symbol">circletwitterbird</i></a></li>
        <li><a href="#"><i class="symbol">circlegoogleplus</i></a></li>
        <li><a href="#"><i class="symbol">circleemail</i></a></li>
    </ul>

    <footer>
        <p>Ou copie o link:</p>

        <form>
            <ul>
                <li><input type="text" class="form-control" value="blyp.com.br/slug-subslug" readonly></li>
            </ul>
        </form>
    </footer>
</div>