//Account
div#account {

  .container-main {

    @media (max-width: $screen-md) {
      padding-top: 30px;
    }
  }

  .container-submenu {

    .btn-group-inverse {
      margin-top: 15px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      i.expand-more {
        float: right;
        -webkit-transition: transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
      }

      &.open {

        i.expand-more {
          -webkit-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
        }
      }
    }

    .btn-submenu {
      background: $light-med;
      text-align: left;
      width: 100%;
      line-height: 24px;
      font-weight: 700;
      padding: 10px 15px;
      border: none;
      @include border-radius(0);

      i {
        vertical-align: bottom;
        margin-right: 5px;
      }

      @media (max-width: $screen-md) {
        margin: 30px 0 0;
      }
    }

    .dropdown-menu {
      width: 100%;
      border: none;
      margin-top: 0;
      padding: 0;
      @include border-radius(0);

      li {
        line-height: 24px;

        a {
          padding: 10px 15px;

          i {
            vertical-align: middle;
            margin-right: 5px;
          }

          &:hover, &:active, &:visited {
            background: $light-med;
          }
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background: $dark-med;
        }
      }
    }
  }

  .menu {

    header {

      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;

        @media (max-width: $screen-lg) {
          font-size: 36px;
        }
      }
    }

    ul.nav {

      li {
        line-height: 24px;

        a {

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }

        &.divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: $light-med;
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background-color: $dark-med;
        }
      }
    }
  }

  .content {

    header {

      h2 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        color: $dark-med;
        margin-bottom: 40px;

        @media (max-width: $screen-sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      @media (max-width: $screen-md) {
        display: none;
      }
    }

    .overview-content {

      .form-group {
        margin-bottom: 0;

        label {
          margin-bottom: 0;
        }

        .form-control-static {
          padding: 0;
        }

        @media (max-width: $screen-md) {

          label {
            margin-bottom: 10px;
          }
        }
      }
    }

    .overview-business {

      header {
        margin-top: 30px;
        margin-bottom: 30px;

        h2 {
          margin-bottom: 10px;
        }

        span {
          font-size: $font-large;
          line-height: 28px;
        }

        @media (max-width: $screen-md) {
          display: block;
        }
      }

      a {
        width: 40%;
        margin: 0 auto;
        font-size: $font-large;

        @media (max-width: $screen-md) {
          width: 100%;
        }
      }
    }
  }
}