//Articles
div#article.read {

  header {

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 40px;

      @media (max-width: $screen-sm) {
        font-size: 36px;
      }
    }

    .author {

      figure {
        float: left;
        width: 34px;
        height: 34px;

        img {
          width: 34px;
          height: 34px;
        }
      }

      .info {
        float: left;
        margin: 2px 15px;

        h2 {
          font-size: 16px;
          font-weight: 700;
        }

        span {
          font-size: 11px;
          text-transform: uppercase;
          color: $light-dark;
        }
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
  }

  .featured-image {
    height: 350px;
    background-color: $dark;
    background-size: cover;
    background-position: center;
  }

  article {
    margin: 0 0 40px 0;

    p {
      font-size: $font-large;
      line-height: 26px;
      margin-bottom: 26px;
    }
  }

  footer {

    .tags {
      float: left;

      a {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        padding: 5px 10px;
        background: $white;
        font-size: $font-small;
        line-height: 21px;
        color: $light-dark;
        border: 1px solid $light-med;
        @include border-radius(2px);

        &:hover {
          background: $light;
          border-color: $light-dark;
          color: $dark;
        }
      }

      @media (max-width: $screen-sm) {
        width: 50%;
      }
    }

    .social {
      float: right;
      line-height: 31px;

      li {
        display: inline-block;
        cursor: pointer;
        margin-left: 15px;

        i {
          vertical-align: middle;
        }
      }
    }

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .recent-articles {
    padding: 40px 0;
    background: $light;

    header {
      margin-bottom: 20px;

      h2 {
        font-size: 21px;
        font-weight: 700;
      }
    }

    form.comments {
      margin-bottom: 40px;

      ul {

        li {
          margin-bottom: 15px;

          textarea {
            min-height: 80px;
          }

          button {
            @media (max-width: $screen-sm) {
              width: 100%;
            }
          }
        }
      }
    }

    .responses {

      .response {
        background: $white;
        padding: 40px;
        margin: 20px 0;

        .author {
          margin-bottom: 20px;

          figure {
            float: left;
            width: 34px;
            height: 34px;

            img {
              width: 34px;
              height: 34px;
            }
          }

          .info {
            float: left;
            margin: 2px 15px;

            h2 {
              font-size: 16px;
              font-weight: 700;
            }

            span {
              font-size: 11px;
              text-transform: uppercase;
              color: $light-dark;
            }
          }

          &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
          }
        }

        p {
          line-height: 24px;
        }
      }
    }
  }

}