//Business
div#business.dashboard {

  .container-main {

    header {

      .badge {
        font-size: 21px;
        background: $light-med;
        vertical-align: top;
        margin: 10px 5px;
        @include border-radius(4px);
      }
    }

    @media (max-width: $screen-md) {
      padding-top: 30px;
    }
  }

  .container-submenu {

    .btn-group-inverse {
      margin-top: 15px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      i.expand-more {
        float: right;
        -webkit-transition: transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
      }

      &.open {

        i.expand-more {
          -webkit-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
        }
      }
    }

    .btn-submenu {
      background: $light-med;
      text-align: left;
      width: 100%;
      line-height: 24px;
      font-weight: 700;
      padding: 10px 15px;
      border: none;
      @include border-radius(0);

      i {
        vertical-align: bottom;
        margin-right: 5px;
      }

      @media (max-width: $screen-md) {
        margin: 30px 0 0;
      }
    }

    .dropdown-menu {
      width: 100%;
      border: none;
      margin-top: 0;
      padding: 0;
      @include border-radius(0);

      li {
        line-height: 24px;

        a {
          padding: 10px 15px;

          i {
            vertical-align: middle;
            margin-right: 5px;
          }

          &:hover, &:active, &:visited {
            background: $light-med;
          }
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background: $dark-med;
        }
      }
    }
  }

  .menu {

    header {

      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;

        @media (max-width: $screen-lg) {
          font-size: 36px;
        }
      }
    }

    ul.nav {

      li {
        line-height: 24px;

        a {

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }

        &.divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: $light-med;
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background-color: $dark-med;
        }
      }
    }
  }

  .content {

    header {

      h2 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        color: $dark-med;
        margin-bottom: 40px;
        display: inline-block;

        @media (max-width: $screen-sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      h3 {
        font-size: 16px;
        font-weight: 700;
        color: $dark-med;
        margin-bottom: 30px;
        display: inline-block;

        @media (max-width: $screen-sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }
      
      .title {
        font-size: 14px;
        font-weight: 700;
        color: $dark-med;
        margin-bottom: 30px;
        display: inline-block;

        @media (max-width: $screen-sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      @media (max-width: $screen-md) {
        display: none;
      }

      hgroup {
        float: left;
        width: 85%;

        h2 {
          margin-bottom: 0px;
        }

        h3 {
          margin-bottom: 24px;
        }
      }

      .action {
        float: right;

        .switchery {
          margin: 10px 0;
        }

        @media (max-width: $screen-md) {
          display: none;
        }
      }

      &.subtitle {

        h2 {
          margin-bottom: 15px;
        }

        @media (max-width: $screen-md) {
          display: inline-block;
        }
      }
    }

    nav {
      text-align: center;
      margin-top: 40px;
    }

    .overview-content {

      .stats {

        .item {
          background: $light-med;
          text-align: center;
          border: 5px solid $white;
          padding: 45px 15px;
          border-top: none;
          
          .value {
            display: block;
            font-size: 36px;
            font-weight: 800;
            color: $gold;
            margin-bottom: 10px;
          }

          .title {
            display: block;
            text-transform: uppercase;
            font-size: $font-small;
            color: $dark;
          }
        }

        &:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
          margin-bottom: 10px;
        }
      }

      .comments {
        margin: 40px 0 0 0;
        clear: both;

        .lists {
          width: 100%;

          .item {
            display: table;
            border-bottom: 1px dashed $light-med;
            padding: 20px 0;
            clear: both;

            figure {
              display: table-cell;
              width: 84px;

              .img {
                width: 64px;
                height: 64px;
                background-color: $dark;
                background-size: cover;
                background-position: center;
              }

              @media (max-width: $screen-sm) {
                width: 100px;

                .img {
                  width: 80px;
                  height: 80px;
                }
              }
            }

            .info {
              display: table-cell;
              vertical-align: top;

              p {
                margin-bottom: 15px;
                line-height: 21px;
              }

              span {
                font-size: $font-small;

                b {
                  font-weight: 700;
                }

                a {
                  font-weight: 700;

                  &:hover {
                    color: $gold;
                  }
                }
              }
            }

            .rating {
              display: table-cell;
              text-align: right;
              vertical-align: top;
              width: 68px;

              i {
                vertical-align: top;

                &.positive {
                  color: $green;
                }

                &.negative {
                  color: $red;
                }
              }
            }
            
            .report {
                margin-top: 25px;
                font-size: $font-small;
                font-weight: 700;

                a {

                    &:hover {
                        color: $gold;
                    }
                }

                .abuse {
                    float: right;
                    margin-top: -8px;
                    padding: 8px 14px;
                    margin-left: 10px;
                    background: $light-med;
                    @include border-radius(4px);
                }
                
                .answer {
                    float: left;
                    margin-top: -8px;
                    padding: 8px 10px 8px 14px;
                    margin-right: 10px;
                    cursor: pointer;
                    background: $light-med;
                    @include border-radius(4px);
                    
                    i {
                        font-size: 12px;
                        vertical-align: top;
                    }
                    
                    &:hover {
                        background: $gold;
                    }
                }
                
                &:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    margin-bottom: 10px;
                }
            }
            
            form {
                margin-top: 20px;
                display: none;
                
                textarea {
                    height: 80px;
                    max-height: 80px;
                }
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }

    .comments-content {

      .comments {

        .lists {
          width: 100%;

          .item {
            display: table;
            border-bottom: 1px dashed $light-med;
            padding: 20px 0;
            clear: both;

            figure {
              display: table-cell;
              width: 84px;

              .img {
                width: 64px;
                height: 64px;
                background-color: $dark;
                background-size: cover;
                background-position: center;
              }

              @media (max-width: $screen-sm) {
                width: 100px;

                .img {
                  width: 80px;
                  height: 80px;
                }
              }
            }

            .info {
              display: table-cell;
              vertical-align: top;

              p {
                margin-bottom: 15px;
                line-height: 21px;
              }

              span {
                font-size: $font-small;

                b {
                  font-weight: 700;
                }

                a {
                  font-weight: 700;

                  &:hover {
                    color: $gold;
                  }
                }
              }
            }

            .rating {
              display: table-cell;
              text-align: right;
              vertical-align: top;
              width: 68px;

              i {
                vertical-align: top;

                &.positive {
                  color: $green;
                }

                &.negative {
                  color: $red;
                }
              }
            }
            
            .report {
                margin-top: 25px;
                font-size: $font-small;
                font-weight: 700;

                a {

                    &:hover {
                        color: $gold;
                    }
                }

                .abuse {
                    float: right;
                    margin-top: -8px;
                    padding: 8px 14px;
                    margin-left: 10px;
                    background: $light-med;
                    @include border-radius(4px);
                }
                
                .answer {
                    float: left;
                    margin-top: -8px;
                    padding: 8px 10px 8px 14px;
                    margin-right: 10px;
                    cursor: pointer;
                    background: $light-med;
                    @include border-radius(4px);
                    
                    i {
                        font-size: 12px;
                        vertical-align: top;
                    }
                    
                    &:hover {
                        background: $gold;
                    }
                }
                
                &:after {
                    content: ".";
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                    margin-bottom: 10px;
                }
            }
            
            form {
                margin-top: 20px;
                display: none;
                
                textarea {
                    height: 80px;
                    max-height: 80px;
                }
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }

    .about-content {

      form {

        textarea {
          height: 220px;
        }
      }
      
      .item {
        position: relative;
        background: $light-med;
        text-align: center;
        padding: 40px 0;
        cursor: pointer;
        -webkit-transition: color .2s, background-color .2s;
        -o-transition: color .2s, background-color .2s;
        transition: color .2s, background-color .2s;
        margin-bottom: 30px;
        
        @media (max-width: $screen-sm) {
          margin-bottom: 0 !important;
        }
        
        i {
          font-size: 64px;
        }

        .checked {
          position: absolute;
          right: -4px;
          top: -4px;
          padding: 5px;
          display: none;
          background: $gold;
          z-index: 4;

          i {
            color: $black;
            font-size: 24px;
          }
        }

        &.active {
          background: $black;
          color: $gold;

          .checked {
            display: block;
          }
        }

        &:hover {
          background: $black;
          color: $gold;
        }
      }
    }
    
    .openinghours-content {
               
        .form-group {
            margin-bottom: 5px;
            
            &.multitag {
                margin-bottom: 20px;
            }
            
            &.inline {
                margin-bottom: 5px !important;
            }
        }

        .multitag {
            
            input {
                width: 100%;
            }
            
            .label-info {
                background-color: $gold;
                color: $black;
                padding: 10px;
                font-size: 10px;
                
                span {
                    margin: 0;
                }
            }
        }
        
        .inline {
            height: 54px;
            padding: 10px;
            @include border-radius(4px);
            
            .left {
                float: left;
            }
            
            .right {
                float: right;
            }
            
            &:nth-child(even) {
                background-color: #f2f2f2;
            }
        }
        
        input, select, textarea {
            width: 15%;
        }
        
        span {
            margin: 0 5px;
            
            &.between {
                margin: 0 10px;
            }
        }
        
        .checkbox {
            
            label {
                vertical-align: baseline;
                line-height: 34px;
                padding-left: 2.75em;
            }
        }
        
        .control-indicator {
            width: 26px;
            height: 26px;
            top: -3px;
            margin-right: 15px;
        }
        
        .actions {
            margin-top: 15px;
        }
    }
  
    .payments-content {

      .form-group {
        margin-bottom: 0;
      }
      
      .item {
        position: relative;
        background: $light-med;
        text-align: center;
        padding: 40px 0;
        cursor: pointer;
        -webkit-transition: color .2s, background-color .2s;
        -o-transition: color .2s, background-color .2s;
        transition: color .2s, background-color .2s;
        
        i {
          font-size: 64px;
        }

        .checked {
          position: absolute;
          right: -4px;
          top: -4px;
          padding: 5px;
          display: none;
          background: $gold;
          z-index: 9999;

          i {
            color: $black;
            font-size: 24px;
          }
        }

        &.active {
          background: $black;
          color: $gold;

          .checked {
            display: block;
          }
        }

        &:hover {
          background: $black;
          color: $gold;
        }
      }
    }

  }
}

//Social Modal
.about-modal {
  background: $gold !important;
  color: $white;

  div.about-social {
    text-align: center;
    margin: 20px 0;

    header {
      margin-bottom: 40px;

      h2 {
        font-size: $font-h1;
        font-weight: 300;

        @media (max-width: $screen-xs) {
          font-size: $font-h2;
        }
      }
    }
    
    .symbol {
        font-size: 28px;
    }
    
    .input-group-addon {
        background: $black;
        color: $gold;
        border-color: $dark;
    }
    
    .input-group {
        margin: 0 40px 30px 40px;
        
        input {
            height: 42px;
            -webkit-border-top-left-radius: 0 !important;
            -webkit-border-bottom-left-radius: 0 !important;
            -moz-border-radius-topleft: 0 !important;
            -moz-border-radius-bottomleft: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }

    .actions {
      display: table;
      margin: 0 auto;
      
      button {
        padding: 10px 7px;
        font-weight: 400;
        color: $white;
        padding: 10px 15px;
        border: 2px solid $white;
        text-transform: uppercase;

        &:hover {
          color: $dark;
          background: $gold-hover;
          border-color: $white;
        }
      }
    }
  }
}