//Business
div#business.dashboard {

  .container-main {

    header {

      .badge {
        font-size: 21px;
        background: $light-med;
        vertical-align: top;
        margin: 10px 5px;
        @include border-radius(4px);
      }
    }

    @media (max-width: $screen-md) {
      padding-top: 30px;
    }
  }

  .container-submenu {

    .btn-group-inverse {
      margin-top: 15px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      i.expand-more {
        float: right;
        -webkit-transition: transform .2s;
        -o-transition: transform .2s;
        transition: transform .2s;
      }

      &.open {

        i.expand-more {
          -webkit-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
        }
      }
    }

    .btn-submenu {
      background: $light-med;
      text-align: left;
      width: 100%;
      line-height: 24px;
      font-weight: 700;
      padding: 10px 15px;
      border: none;
      @include border-radius(0);

      i {
        vertical-align: bottom;
        margin-right: 5px;
      }

      @media (max-width: $screen-md) {
        margin: 30px 0 0;
      }
    }

    .dropdown-menu {
      width: 100%;
      border: none;
      margin-top: 0;
      padding: 0;
      @include border-radius(0);

      li {
        line-height: 24px;

        a {
          padding: 10px 15px;

          i {
            vertical-align: middle;
            margin-right: 5px;
          }

          &:hover, &:active, &:visited {
            background: $light-med;
          }
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background: $dark-med;
        }
      }
    }
  }

  .menu {

    header {

      h1 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 40px;

        @media (max-width: $screen-lg) {
          font-size: 36px;
        }
      }
    }

    ul.nav {

      li {
        line-height: 24px;

        a {

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }

        &.divider {
          height: 1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: $light-med;
        }

        &.active > a, &.active > a:focus, &.active > a:hover {
          background-color: $dark-med;
        }
      }
    }
  }

  .content {

    header {

      h2 {
        font-size: 36px;
        line-height: 48px;
        font-weight: 700;
        color: $dark-med;
        margin-bottom: 40px;
        display: inline-block;

        @media (max-width: $screen-sm) {
          font-size: 24px;
          line-height: 36px;
        }
      }

      @media (max-width: $screen-md) {
        display: none;
      }

      .action {
        float: right;

        @media (max-width: $screen-md) {
          display: none;
        }
      }

      &.subtitle {

        h2 {
          margin-bottom: 15px;
        }

        @media (max-width: $screen-md) {
          display: inline-block;
        }
      }
    }

    nav {
      text-align: center;
      margin-top: 40px;
    }

    .overview-content {

      .stats {

        .item {
          background: $light-med;
          text-align: center;
          border: 5px solid $white;
          padding: 45px 15px;
          border-top: none;

          .value {
            display: block;
            font-size: 36px;
            font-weight: 800;
            color: $gold;
            margin-bottom: 10px;
          }

          .title {
            display: block;
            text-transform: uppercase;
            font-size: $font-small;
            color: $dark;
          }
        }

        &:after {
          content: ".";
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
          margin-bottom: 10px;
        }
      }

      .comments {
        margin: 40px 0 0 0;
        clear: both;

        .lists {
          width: 100%;

          .item {
            display: table;
            border-bottom: 1px dashed $light-med;
            padding: 20px 0;
            clear: both;

            figure {
              display: table-cell;
              width: 84px;

              .img {
                width: 64px;
                height: 64px;
                background-color: $dark;
                background-size: cover;
                background-position: center;
              }

              @media (max-width: $screen-sm) {
                width: 100px;

                .img {
                  width: 80px;
                  height: 80px;
                }
              }
            }

            .info {
              display: table-cell;
              vertical-align: top;

              p {
                margin-bottom: 15px;
                line-height: 21px;
              }

              span {
                font-size: $font-small;

                b {
                  font-weight: 700;
                }

                a {
                  font-weight: 700;

                  &:hover {
                    color: $gold;
                  }
                }
              }
            }

            .rating {
              display: table-cell;
              text-align: right;
              vertical-align: top;
              width: 68px;

              i {
                vertical-align: top;

                &.positive {
                  color: $green;
                }

                &.negative {
                  color: $red;
                }
              }
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }

    .comments-content {

      .comments {

        .lists {
          width: 100%;

          .item {
            display: table;
            border-bottom: 1px dashed $light-med;
            padding: 20px 0;
            clear: both;

            figure {
              display: table-cell;
              width: 84px;

              .img {
                width: 64px;
                height: 64px;
                background-color: $dark;
                background-size: cover;
                background-position: center;
              }

              @media (max-width: $screen-sm) {
                width: 100px;

                .img {
                  width: 80px;
                  height: 80px;
                }
              }
            }

            .info {
              display: table-cell;
              vertical-align: top;

              p {
                margin-bottom: 15px;
                line-height: 21px;
              }

              span {
                font-size: $font-small;

                b {
                  font-weight: 700;
                }

                a {
                  font-weight: 700;

                  &:hover {
                    color: $gold;
                  }
                }
              }
            }

            .rating {
              display: table-cell;
              text-align: right;
              vertical-align: top;
              width: 68px;

              i {
                vertical-align: top;

                &.positive {
                  color: $green;
                }

                &.negative {
                  color: $red;
                }
              }
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
    }

  }
}