//Business
div#business.create {

  header {
    margin-bottom: 5px;

    h1 {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 20px;

      @media (max-width: $screen-sm) {
        font-size: 36px;
      }
    }

    h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;

      @media (max-width: $screen-sm) {
        font-size: 18px;
        line-height: 21px;
      }
    }
  }

  &.new {

    .business-type {
      margin: 40px 0;

      .item {
        padding: 40px 20px;
        border: 5px solid $white;
        background: $light-med;
        min-height: 315px;
        cursor: pointer;

        h3 {
          text-align: center;
          font-size: 24px;
          font-weight: 700;

          i {
            margin: 0 auto;
            display: block;
            font-size: 128px;
            margin-bottom: 20px;
          }
        }

        span {
          display: block;
          margin-top: 10px;
          text-align: center;
          font-size: $font-small;
          color: $light-dark;
          text-transform: uppercase;
        }

        &:hover {
          background: $black;

          h3 {
            color: $white;

            i {
              color: $gold;
            }
          }
        }
      }
    }
  }

  &.finish {

    form {
      padding: 40px 0 0 0;
    }
  }
}