// Header
header.main {
  height: 60px;
  background: $gold;
  color: $dark;
  border-bottom: 3px solid $gold !important;
  z-index: 9999;

  .navbar {
    padding-top: 3px;

    .navbar-toggle {
      margin: 0;
      font-size: 33px;
      border: none;
    }

    .navbar-brand {

      .logo-navbar {
        background: url('../images/logo-blyp-navbar.png') no-repeat center;
        display: block;
        width: 42px;
        height: 42px;
        margin-top: -12px;
      }
    }

    ul {
      line-height: 52px;

      li {
        text-transform: uppercase;

        a {
          display: inline-block;
          text-shadow: none;
          padding: 5px;
          line-height: 1;
          color: $dark-med;

          &:hover, &:focus, &:active {
            color: $dark-med;
            background: transparent;
          }

          strong {
            font-weight: 700;
          }
        }

        &:hover, &:focus, &:active {
          background: transparent;
        }

        &:after {
          content: " \00b7";
          margin: 10px;
          font-weight: 800;
        }

        &.dropdown {
          font-weight: 700;
          text-transform: capitalize;

          .navbar-user-img {
            margin: -20px 10px -20px 0;
            width: 34px;
            height: 34px;
            display: inline-block;
            vertical-align: middle;
          }

          .expand-more {
            line-height: 22px;

            i {
              -webkit-transform: rotateX(0deg);
              -ms-transform: rotateX(0deg);
              -o-transform: rotateX(0deg);
              transform: rotateX(0deg);
              vertical-align: bottom;
              margin: 0px 15px 0 5px;;
            }
          }

          ul.dropdown-menu {
            border: none;
            padding: 20px;
            @include border-radius(0);

            li {
              font-size: $font-small;
              line-height: 21px;

              a {
                display: block;
                padding: 10px;
                font-weight: 700;

                .badge {
                  float: right;
                  margin: -4px 0 0 15px;
                  font-size: $font-small;
                  background: $light-med;
                  @include border-radius(4px);
                }

                &:hover {
                  color: $gold;

                  .badge {
                    background: $gold;
                    -webkit-transition: color .2s, background-color .2s;
                    -o-transition: color .2s, background-color .2s;
                    transition: color .2s, background-color .2s;
                  }
                }
              }

              &.divider {
                background: $light;
              }

              &:after {
                display: none;
              }
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              width: 0;
              height: 0;
              border-left: 16px solid transparent;
              border-right: 16px solid transparent;
              border-bottom: 16px solid $white;
              top: -14px;
              right: 17px;
            }

            @media (max-width: $screen-sm) {
              padding: 0 20px;

              li {
                @include box-shadow(0 0 0 0 rgba(0,0,0,0));

                a {

                  .badge {
                    float: none;
                    background: $dark-med;
                  }

                  &:hover {
                    color: $white;

                    .badge {
                      color: $dark-med;
                      background: $white;
                    }
                  }
                }

                &.divider {
                  background: $gold-hover;
                }
              }

              &:before {
                display: none;
              }
            }
          }

          &.open {

            .expand-more {

              i {
                -webkit-transform: rotateX(180deg);
                -ms-transform: rotateX(180deg);
                -o-transform: rotateX(180deg);
                transform: rotateX(180deg);
              }
            }
          }
        }

        @media (max-width: $screen-lg) {

          &:nth-child(1), &:nth-child(2), &:nth-child(2), &:nth-child(3) {
            display: none;
          }

          &.dropdown {
            display: block !important;
          }
        }
      }

      li:last-child {

        &:after {
          content: "";
          margin: 0;
        }

      }
    }

    .navbar-form {

      input[type="text"] {
        @include border-radius(4px, 4px);
        border: none;
        font-weight: 700;
        font-style: italic;
      }

      button {
        background: $dark-med;
        color: $gold;
        padding: 5px 10px 2px;
        line-height: 1;

        &:hover {
          color: $gold;
        }
      }

      span {
        margin: 0 10px;
        color: $dark-med;
        font-weight: 700;
        font-style: italic;
      }

    }
  }

  @media (max-width: $screen-sm) {

    .navbar-collapse {

      .navbar-header {
        margin-right: -16px;
        margin-left: -16px;
      }

      &.collapse, &.collapsing, &.in {

        background: $gold;
        box-shadow: none;
        -webkit-box-shadow: none;
        border: none;
        z-index: 2;
        position: relative;

        ul {

          li {
            display: block;
            text-align: center;

            a {
              display: block;
              padding: 15px;
            }

            &:after {
              content: "";
              margin: 0;
            }
          }
        }

        .navbar-form {
          box-shadow: none;
          -webkit-box-shadow: none;
          border: none;

          button {
            width: 100%;
          }

          span {
            position: relative;
            display: block;
            margin: 15px 10px;
            text-align: center;

            strong {
              background: $gold;
              padding: 10px;
            }

            &:after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              right: 0;
              border-top: solid 1px $dark-med;
              z-index: -1;
            }
          }

        }
      }
    }
  }

  &.home {
    background: $dark;
    color: $light;

    .navbar {

      .navbar-brand {

        .logo-navbar {
          background: url('../images/logo-blyp-navbar-out.png') no-repeat center;

          @media (min-width: $screen-sm) {
            display: none;
          }
        }
      }

      ul {

        li {
          color: $white;

          a {
            color: $white;
          }

          &.dropdown {

            ul.dropdown-menu {

              li {
                color: $dark-med;

                a {
                  color: $dark-med;

                  &:hover {
                    color: $gold;
                  }
                }
              }

              @media (max-width: $screen-sm) {
                padding: 0 20px;

                li {
                  @include box-shadow(0 0 0 0 rgba(0,0,0,0));

                  a {
                    color: $white;

                    .badge {
                      float: none;
                      color: $dark-med;
                      background: $white;
                    }

                    &:hover {
                      color: $gold;

                      .badge {
                        color: $white;
                        background: $gold;
                      }
                    }
                  }

                  &.divider {
                    background: $light-dark;
                  }
                }
              }
            }
          }
        }
      }

      .navbar-form {

        button {
          background: $gold;
          color: $dark;
        }

        span {
          color: $white;

          strong {
            background: $dark;
          }

          &:after {
            border-color: $white;
          }
        }

        @media (min-width: $screen-sm) {
          display: none;
        }
      }

      @media (max-width: $screen-sm) {

        .navbar-collapse {

          &.collapse, &.collapsing, &.in {
            background: $dark;
          }
        }
      }
    }
  }

}