// Home
div#home {

  //Home - Search
  div.featured-seach {
    color: $white;
    height: 675px;
    background-position: left;
    background-size: cover;
    background: $light url('../images/temp/background-001.jpg') no-repeat;

    header {
      margin-top: 50px;

      h1 {
        width: 232px;
        height: 165px;
        text-indent: -9999px;
        background: url('../images/logo-blyp-home.png') no-repeat center;
      }
    }

    div.welcome {
      margin: 110px 0 50px;

      h2 {
        font-size: 64px;
        font-weight: 300;
      }
    }

    form.search {
      float: left;
      width: 480px;

      p {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 300;

        b {
          font-weight: 400;
        }
      }

      ul {

        li {

          input[type="text"] {
            @include border-radius(4px, 4px);
            height: 50px;
            border: none;
            font-size: 21px;
            font-weight: 700;
            font-style: italic;

            &.place {
              float: left;
              width: 85%;
              background-color: $white;
            }
          }

          button {
            float: right;
            height: 50px;
            width: 12%;
            padding: 5px 10px 2px;
            line-height: 1;
            background: $gold;
            color: $dark-med;
            font-weight: 800;

            &:hover {
              color: $dark-med;
            }
          }

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }
    }

    div.results {
      float: left;
      display: none;
      margin: 45px 20px 0;
      color: $light-dark;
      background: $white;
      @include border-radius(4px, 4px);

      header {
        padding: 10px 20px 10px 55px;
        margin: 0;
        background: $light-med;
        @include border-corner-radius("top", "left", 4px);
        @include border-corner-radius("top", "right", 4px);

        h2 {
          font-size: $font-large;
          font-weight: 300;
          text-transform: uppercase;
        }
      }

      ul {
        padding: 10px 20px 10px 10px;

        li {
          line-height: 26px;
          padding: 2px 0;
          border-bottom: 1px solid $light;

          i {
            cursor: default;
            color: $dark-med;
            margin: 0 13px 0 12px;
          }

          a {
            color: $light-dark;
            vertical-align: text-bottom;

            b {
              color: $dark-med;
              font-weight: 700;
            }
          }

          &:last-child {
            border: none;
          }
        }
      }

      @media (max-width: $screen-md) {
        display: none;
      }
    }

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  //Home - Featured Types
  div.featured-types {
    padding: 15px 0;
    font-size: $font-large;
    font-weight: 300;
    text-transform: uppercase;

    header {
      float: left;
      margin-right: 25px;

      h2 {
        color: $dark;
      }
    }

    ul {
      float: left;

      li {
        float: left;
        margin: 0 9px;

        a {
          display: block;
          color: $light-dark;

          i {
            margin: 7px 0;
            font-size: 48px;
            color: $dark-med;

            @media (min-width: $screen-md) {
              display: none;
            }
          }

          &:hover {

            b {
              color: $gold;
            }
          }
        }
      }
    }

    @media (max-width: $screen-md) {
      padding: 60px 0;

      header {
        float: none;
        text-align: center;
        margin: 0 0 40px 0;

        h2 {
          color: $light-dark;
          font-size: 36px;
        }
      }

      ul {
        float: none;
        text-align: center;

        li {
          float: none;
          width: 62px;
          height: 62px;
          display: inline-block;
          background: $gold;
          @include border-radius(4px);

          a {
            width: 62px;
            height: 62px;

            b {
              display: none;
            }
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 40px 0 20px;

      header {
        margin-right: 0;

        h2 {
          font-size: 28px;
        }
      }

      ul {

        li {
          width: 48px;
          height: 48px;
          margin-bottom: 20px;

          a {
            width: 48px;
            height: 48px;

            i {
              font-size: 36px;
            }
          }
        }
      }
    }
  }

  //Home - Featured Ad
  div.featured-poster {
    background: $light;
    padding: 5px 0;

    .poster-item {
      float: left;
      display: table;
      width: 277px;
      height: 277px;

      .wrapper {
        border: 5px solid $light;
        background: $light-med;
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        background-position: center;
        background-size: cover;
      }

      &.poster-item--width2 {
        width: 544px;
      }

      &.poster-item--height2 {
        height: 544px;
      }

      &.poster-item--width3 {
        width: 554px;
      }

      &.poster-item--height3 {
        height: 554px;
      }

      @media (max-width: $screen-lg) {
        width: 50%;

        &.poster-item--width2, &.poster-item--width3 {
          width: 100%;
        }
      }

      @media (max-width: $screen-xs) {
        width: 100%;
      }

      @media (max-width: $screen-md) {
        &.newsletter {
          height: 544px;
        }
      }
    }

    .poster-content {
      display: table;
      width: 75%;
      margin: 0 auto;
      text-align: center;

      @include border-radius(4px);

      &.place {
        padding: 20px;
        color: $white;
        background-color: transparent;
        background-color: rgba(0, 0, 0, 0.7);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

        header {

          i {
            border: 3px solid white;
            border-radius: 50%;
            width: 72px;
            height: 72px;
            font-size: 42px;
            line-height: 64px;
          }
        }
      }

      &.newsletter {
        text-align: left;

        @media (max-width: $screen-md) {
          text-align: center;
        }

        header {
          line-height: 62px;

          i {
            float: left;
            margin-right: 20px;
            margin-bottom: 15px;

            @media (max-width: $screen-md) {
              float: none;
              margin-right: 0;
            }
          }

          h3 {

            @media (max-width: $screen-md) {
              margin-bottom: 40px;
            }
          }

          @media (max-width: $screen-md) {
            line-height: 1;
          }
        }

        p {
          clear: both;
          margin-bottom: 10px;

          @media (max-width: $screen-md) {
            margin-bottom: 20px;
          }
        }

        form {

          ul {

            li {
              margin-bottom: 10px;

              button {

              }

              input {
                width: 75%;
                height: 35px;
                border: none;

                &.cep {
                  float: left;
                }
              }

              button {
                float: right;
                width: 20%;
                background: $dark-med;
                color: $white;
                text-transform: uppercase;
              }

              @media (max-width: $screen-md) {

                input {
                  width: 100%;

                  &.cep {
                    float: none;
                  }
                }

                button {
                  float: none;
                  width: 100%;
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }

      header {
        margin-bottom: 5px;

        i {
          margin-bottom: 15px;
          font-size: 62px;
        }

        h3 {
          font-size: $font-large;
          font-weight: 800;
        }
      }

      p {
        font-size: $font-large;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }

  //Home - Last Articles
  div.last-articles {
    padding: 90px 0;
    background: $white;

    header {

      h2 {
        margin-bottom: 90px;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        color: $light-dark;
      }
    }

    div.owl-carousel {

      .item {
        padding: 0 30px;

        figure {
          margin: 0 0 30px;

          img {
            @include border-radius(50%);
            border: 10px solid $light;
            width: 220px;
            height: 220px;
          }

          figcaption {
            margin-top: 20px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &:hover {

          img {
            border-color: $gold;
          }
        }

        .text {
          margin-bottom: 25px;
          header {

            h3 {
              font-size: $font-large;
              font-weight: 800;
            }

            h4 {
              font-size: $font-default;
              font-weight: 700;
              font-style: italic;
              margin-top: 5px;
              color: $dark;
            }
          }

          p {
            margin-top: 20px;
            line-height: 18px;
          }
        }

        a.button {
          margin: 0 auto;
          width: 45%;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 60px 0;

      header {

        h2 {
          margin-bottom: 60px;
          font-size: 28px;
        }
      }

      a.button {
        width: 100% !important;
      }
    }
  }

  //Home - Most Viewed
  div.most-viewed {
    padding: 110px 0;
    background: $light;

    header {

      h2 {
        margin-bottom: 110px;
        font-size: 36px;
        font-weight: 300;
        text-transform: uppercase;
        color: $light-dark;
      }
    }

    div.owl-carousel {
      height: 310px;

      .item {
        padding: 0 30px;

        header {

          h3 {
            font-size: $font-large;
            font-weight: 800;
            text-transform: uppercase;
          }
        }

        figure {
          margin: 20px 0;

          img {
            @include border-radius(50%);
            width: 120px;
            height: 120px;
          }

          figcaption {
            margin-top: 20px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .approval-rate {

          span {
            display: block;
            font-weight: 700;
            font-size: $font-small;
          }

          .progress-bar {
            position: relative;
            width: 100%;
            height: 10px;
            margin: 5px 0 20px;
            background: $white;
            @include box-shadow(none);
            @include border-radius(4px);

            .progress-value {
              position: absolute;
              top: 0;
              left: 0;
              width: 0%;
              height: 10px;
              background: $gold;
              @include border-radius(4px);
            }
          }
        }

        a.button {
          clear: both;
          width: 90%;
          margin: 0 auto;
        }
      }
    }

    @media (max-width: $screen-sm) {
      padding: 65px 0;

      header {

        h2 {
          margin-bottom: 65px;
          font-size: 28px;
        }
      }

      div.owl-carousel {

        a.button {
          width: 100% !important;
        }
      }
    }
  }
}