//Place
div#place {

  .sidebar {

    .find {
      margin-bottom: 50px;

      .button {
        line-height: 24px;
        font-weight: 300;
        text-transform: none;

        i {
          vertical-align: top;
        }

        @media (max-width: $screen-sm) {
          font-size: 12px;
        }
      }
    }

    .maps {
      position: relative;
      margin: 40px 0;

      @media (max-width: $screen-md) {
        margin-top: 20px;
      }

      header {
        position: absolute;
        width: 60%;
        top: -20px;
        right: 0;
        padding: 10px;
        background: $gold;
        @include border-radius(4px);

        h2 {
          font-size: $font-default;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          text-align: center;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }

          @media (max-width: $screen-lg) {
            font-size: $font-small;
          }
        }
      }

      a {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        line-height: 0;
        @include border-radius(4px);

        img {
          @include opacity(0);
        }
      }
    }

    .pictures-oficial, .pictures-clients {
      margin: 30px 0 0 0;

      header {

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }
      }

      div.owl-carousel {
        margin: 20px 0 0 0;

        .item {

          figure {
            @include border-radius(4px);
            background-position: center;
            background-size: cover;
            height: 180px;

            img {
              display: none;
            }

            figcaption {
              font-style: italic;
              font-size: 12px;
              text-align: center;
            }
          }
        }
      }

    }

    .most-viewed {
      margin: 40px 0;
    }

    .most-viewed, .similar-nearby {

      header {

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }
      }

      ul {
        margin: 20px 0 0 35px;

        li {
          padding: 10px 0;

          header {
            margin-bottom: 5px;

            h3 {
              font-size: $font-default;
              font-weight: 700;

              a:hover {
                color: $gold;
              }
            }
          }

          p {
            font-size: $font-small;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }

    }
  }

  .newsletter {
    background: $gold;
    padding: 35px;
    margin: 30px 0;
    @include border-radius(4px);

    header {
      margin-bottom: 20px;

      h2 {
        font-size: $font-h2;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;

        i {
          vertical-align: bottom;
          margin-right: 5px;
        }

        @media (max-width: $screen-lg) {
          font-size: $font-default;
        }
      }
    }

    p {
      margin-bottom: 10px;
    }

    form {

      ul {

        li {

          input {
            width: 70%;
            height: 35px;
            border: none;
            float: left;

            @media (max-width: $screen-lg) {
              float: none;
              display: block;
              width: 100%;
              margin-bottom: 10px;
            }
          }

          button {
            float: right;
            width: 25%;
            background: $dark-med;
            color: $white;
            text-transform: uppercase;

            @media (max-width: $screen-lg) {
              float: none;
              display: block;
              width: 100%;
            }
          }
        }
      }
    }

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .ad-view {
    margin: 40px 0;

    header {
      margin-bottom: 20px;

      h2 {
        font-size: $font-h2;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;

        i {
          vertical-align: bottom;
          margin-right: 5px;
        }

        @media (max-width: $screen-lg) {
          font-size: $font-default;
        }
      }
    }
  }

  .payments-available {
    margin: 40px 0;

    header {
      margin-bottom: 20px;

      h2 {
        font-size: $font-h2;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;

        i {
          vertical-align: bottom;
          margin-right: 5px;
        }

        @media (max-width: $screen-lg) {
          font-size: $font-default;
        }
      }
    }

    p {
      margin-bottom: 10px;
    }

    .cards {
      margin: 20px 0;

      li {
        display: inline-block;
        margin-right: 5px;

        i {
          font-size: 28px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

}