//Search
div#search {

  &.not-found {

    .results {

      .result {
        line-height: 36px;

        p {

          i {
            vertical-align: bottom;
          }
        }
      }
    }

    form.search {
      margin: 45px 45px 20px 45px;

      header {
        margin-bottom: 20px;

        h2 {
          font-size: $font-large;
          font-weight: 700;
          line-height: 21px;
        }
      }

      ul {

        li {

          input[type="text"] {
            background: $light;
            border: none;
            height: 50px;
            font-size: 21px;
            font-weight: 700;
            font-style: italic;
            @include border-radius(4px, 4px);
            @include box-shadow(0 0 0 0 rgba(0,0,0,0));

            &.place {
              float: left;
              width: 88%;

              @media (max-width: $screen-md) {
                float: none;
                width: 100%;
                margin-bottom: 15px;
              }
            }
          }

          button {
            float: right;
            height: 50px;
            width: 10%;
            padding: 5px 10px 2px;
            line-height: 1;
            background: $gold;
            color: $dark-med;
            font-weight: 800;

            &:hover {
              color: $dark-med;
            }

            @media (max-width: $screen-md) {
              float: none;
              display: block;
              width: 100%;
            }
          }

          &:first-child {
            margin-bottom: 15px;
          }
        }
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }
  }

  .results {

    .result {
      line-height: 21px;

      p {
        float: left;
        font-size: 21px;
        text-transform: uppercase;

        em {
          margin: 0 10px;
          color: $light-dark;
          text-transform: lowercase;
          font-size: 18px;
          font-style: italic;
        }

        strong {
          font-weight: 700;
        }

        @media (max-width: $screen-sm) {
          font-size: 16px;

          em {
            font-size: 12px;
          }
        }
      }

      span {
        float: right;
        font-weight: 700;
        font-size: 10px;
        text-transform: uppercase;
        color: $light-dark;
        cursor: pointer;

        @media (max-width: $screen-sm) {
          display: none;
        }
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }

    .filters-toggle {
      background: $light-med;
      width: 100%;
      display: block;
      text-align: center;
      margin: 30px 0 20px 0;
      padding: 4px;
      cursor: pointer;
      @include border-radius(4px);

      @media (min-width: $screen-lg) {
        display: none;
      }
    }

    .filters {
      margin: 30px 0 20px 0;

      select {
        background: $light-med;
        border: none;
        width: 33%;
        display: inline-block;
        font-weight: 700;
        @include box-shadow(0 0 0 0 rgba(0,0,0,0));

        @media (max-width: $screen-lg) {
          display: block;
          margin-bottom: 10px;
          width: 100%;
        }
      }

      @media (max-width: $screen-lg) {
        display: none;
      }
    }

    .lists {
      width: 100%;

      .item {
        border-bottom: 1px dashed $light-med;
        padding: 20px 0;
        clear: both;

        figure {
          display: none;
          vertical-align: top;
          width: 110px;
          margin: 0 20px 0 0;

          img {
            width: 110px;
            height: 110px;
          }

          figcaption {
            font-size: 10px;
            padding: 5px;
            background: $light;
            border: 1px solid $light-med;
            color: $light-med;
            display: inline-block;
            margin: 25px 0 0;
            float: left;
            @include border-radius(4px);

            @media (max-width: $screen-sm) {
              margin: 50px 0 0;
            }
          }

          @media (max-width: $screen-sm) {
            width: 80px;

            img {
              width: 80px;
              height: 80px;
            }
          }
        }

        .info {
          display: inline-block;
          vertical-align: top;

          header {
            margin-bottom: 15px;

            h3 {
              font-weight: 700;
              font-size: $font-large;
              margin-bottom: 5px;

              a:hover {
                color: $gold;
              }
            }

            h4 {
              font-size: $font-small;

              a:hover {
                color: $gold;
              }
            }
          }

          .approval-rate {
            display: none;

            span {
              display: block;
              font-weight: 700;
              font-size: $font-small;
            }

            .progress-bar {
              position: relative;
              width: 100%;
              height: 10px;
              margin: 5px 0 20px;
              background: $light-med;
              @include box-shadow(none);
              @include border-radius(4px);

              .progress-value {
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 10px;
                background: $gold;
                @include border-radius(4px);
              }
            }
          }

          p {
            font-size: $font-small;
            margin-bottom: 5px;
          }

          .phone {
            margin-top: 15px;
            font-weight: 700;
            font-size: $font-large;
          }
        }

        .actions {
          display: inline-block;
          vertical-align: top;
          float: right;
          width: 300px;

          .row {
            margin: 0;
            height: 55px;

            .column {
              display: inline-block;
              width: 150px;

              .box {
                background: $light-med;
                width: 100%;
                padding: 10px;
                line-height: 24px;
                display: inline-block;
                vertical-align: text-top;
                font-size: $font-small;
                font-weight: 700;
                @include border-radius(4px);

                i {
                  vertical-align: bottom;
                  margin-right: 5px;
                }

                &.icon {
                  width: auto;
                  cursor: pointer;

                  i {
                    margin: 0;
                  }
                }

                &.price {

                  ul {
                    float: right;

                    li {
                      float: left;

                      i {
                        color: $light-dark;
                        margin: 0;
                      }

                      &.active {

                        i {
                          color: $dark-med;
                        }
                      }
                    }
                  }
                }

                &.route {
                  cursor: pointer;
                }

                &.opened {
                  background: $green;
                  color: $white;
                  text-transform: uppercase;
                }

                &.closed {
                  background: $red;
                  color: $white;
                  text-transform: uppercase;
                }
              }

              &:first-child {
                float: left;
              }

              &:last-child {
                float: right;
                width: 140px;
                margin-left: 10px;
              }
            }

            &:nth-child(2){
              display: none;
            }

            &:nth-child(1){

              .column:nth-child(1){
                display: none;
              }
            }
          }

          a.button {
            margin-top: 5px;
            line-height: 24px;

            i {
              vertical-align: top;
            }
          }

          @media (max-width: $screen-sm) {
            display: none;
          }
        }

        &.sponsored {

          figure {
            display: inline-block;
          }

          .info {

            .approval-rate {
              display: block;
            }
          }

          .actions {

            .row {

              &:nth-child(1) {

                .column:nth-child(1){
                  display: inline-block;
                }
              }

              &:nth-child(2) {
                display: block;
              }
            }
          }

          a.button {
            margin-top: 0;
          }
        }
      }

      &:last-child {
        border: none;
      }
    }

    nav {
      text-align: center;
      margin-top: 40px;
    }
  }

  .sidebar {

    .maps {
      position: relative;
      margin: 52px 0;

      @media (max-width: $screen-md) {
        margin-top: 20px;
      }

      header {
        position: absolute;
        width: 60%;
        top: -20px;
        right: 0;
        padding: 10px;
        background: $gold;
        @include border-radius(4px);

        h2 {
          font-size: $font-default;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;
          text-align: center;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }

          @media (max-width: $screen-lg) {
            font-size: $font-small;
          }
        }
      }

      a {
        display: block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        line-height: 0;
        @include border-radius(4px);

        img {
          @include opacity(0);
        }
      }
    }

    .newsletter {
      background: $gold;
      padding: 35px;
      margin: 40px 0;
      @include border-radius(4px);

      header {
        margin-bottom: 20px;

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }

          @media (max-width: $screen-lg) {
            font-size: $font-default;
          }
        }
      }

      p {
        margin-bottom: 10px;
      }

      form {

        ul {

          li {

            input {
              width: 70%;
              height: 35px;
              border: none;
              float: left;

              @media (max-width: $screen-lg) {
                float: none;
                display: block;
                width: 100%;
                margin-bottom: 10px;
              }
            }

            button {
              float: right;
              width: 25%;
              background: $dark-med;
              color: $white;
              text-transform: uppercase;

              @media (max-width: $screen-lg) {
                float: none;
                display: block;
                width: 100%;
              }
            }
          }
        }
      }

      &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }

    .most-viewed, .similar-nearby {

      header {

        h2 {
          font-size: $font-h2;
          font-weight: 700;
          line-height: 24px;
          text-transform: uppercase;

          i {
            vertical-align: bottom;
            margin-right: 5px;
          }
        }
      }

      ul {
        margin: 20px 0 0 35px;

        li {
          padding: 10px 0;

          header {
            margin-bottom: 5px;

            h3 {
              font-size: $font-default;
              font-weight: 700;

              a:hover {
                color: $gold;
              }
            }
          }

          p {
            font-size: $font-small;
          }

          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}